<tr id="<%= dom_id(app) %>">
  <!-- applicant -->
  <td class="align-middle col-3">
    <%= link_to app.applicant_name, profile_review_path(app.adopter_foster_account.adopter_foster_profile),
                            class: "link-underline link-underline-opacity-0"  %>
  </td>
  <!-- status -->
  <td class="align-middle col-3">
    <div class="dropdown">
      <button class="btn dropdown-toggle <%= application_status_classes(app)
      %>" data-bs-toggle="dropdown" aria-expanded="false">
        <%= app.status.titleize %>
      </button>
      <ul class="dropdown-menu">
        <% AdopterApplication.statuses.keys.each do |status| %>
          <%unless status == "adoption_made" %>
            <li>
              <%= button_to status.titleize,
              adoption_application_review_path(app, params: { adopter_application: { status: status}}),
              :method => :patch, class: 'dropdown-item' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </td>
  <!-- create -->
  <td class="align-middle text-center col-3">
    <% if app.status == 'successful_applicant' %>
      <!--create adoption button-->
      <%= button_to "New Adoption", matches_path, method: :post,
        params: {match:
          {pet_id: app.pet_id, adopter_foster_account_id: app.adopter_foster_account_id}
        },
        class: "btn btn-outline-primary",
        data: { turbo_method: :post, 
                turbo_confirm: "Click OK to finalize this adoption." 
        }
      %>
    <% else %>
      <span class="d-inline-block" tabindex="0"
                data-bs-toggle="tooltip" title="Finalize adoption">
        <button type="button" class="btn btn-outline-secondary"
                disabled>New Adoption</button>
      </span>
    <% end %>
  </td>
  <!-- notes -->
  <td class="align-middle">
    <span>
      <% if params[:active_tab] == 'applications' || @applications_tab == true %>
        <%= app.notes&.truncate(10) %>
      <% else %>
        <%= app.notes&.truncate(30) %>
      <% end %>
    </span>
    <button type="button" class="btn btn-outline-primary border border-0" data-bs-toggle="modal" data-bs-target="#notesModal<%= app.id %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
      </svg>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="notesModal<%= app.id %>" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header border-bottom-0 pb-2">
            <h1 class="modal-title fs-4 ">Edit Notes for <%= app.pet.name %> </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body border-top-0 pt-2">
            <%= bootstrap_form_with model: app, url:
        adoption_application_review_path(app), method: "Patch" do |form| %>
              <%= form.text_area :notes, hide_label: true, rows: 5 %>
              <%= form.submit 'Save changes', class: "btn btn-primary
        position-relative float-end", "data-bs-dismiss" => "modal"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
