<%= form_with model: profile, :url => organization_profile_path do |form| %>

  <% if profile.errors.count > 0 %>
    <div class="alert alert-danger mt-1" role="alert">
      <p>
        <%= t '.please_fix_the_errors' %>
      </p>
    </div>
  <% end %>

  <!--Administrative details section-->
  <div class='card p-5 mb-5'>
    <h3>Contact</h3>

    <div class="form-group">
      <%= form.label :phone_number, class: 'bigger' %>
      <%= form.telephone_field :phone_number,
                              autofocus: true,
                              placeholder: "10 digit number",
                              class: 'form-control' %>

      <% profile.errors.full_messages_for(:phone_number).each do |message| %>
        <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
      <% end %>
    </div>
    
    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, placeholder: "john@email.com", class: 'form-control' %>

      <% profile.errors.full_messages_for(:email).each do |message| %>
        <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
      <% end %>
    </div>

    <%# nested form for locations table %>
    <div class="form-group bigger" data-controller="country-state">
      <%= form.fields_for :location do |location| %>
          <%= location.label :country %>
          <%= location.select :country,
                              CS.countries.invert,
                              { prompt: "Please select" },
                              'data-path': country_states_path(:country),
                              'data-country-state-target': 'country',
                              'data-action': 'change->country-state#updateStates',
                              'data-initial-value': location.object.country,
                              required: true,
                              class: 'form-control' %>
          <% profile.location.custom_messages(:country).each do |error| %>
            <div class="alert alert-danger mt-1" role="alert"><%= error.message %></div>
          <% end %>

          <%= location.label :province_state, 'Province/State' %>
          <%= location.select :province_state,
                              CS.states(location.object.country).invert,
                              { prompt: "Please select" },
                              'data-country-state-target': 'state',
                              required: true,
                              class: 'form-control' %>
          <% profile.location.custom_messages(:province_state).each do |error| %>
            <div class="alert alert-danger mt-1" role="alert"><%= error.message %></div>
          <% end %>

          <%= location.label :city_town, 'City/Town' %>
          <%= location.text_field :city_town, class: 'form-control' %>
          <% profile.location.custom_messages(:city_town).each do |error| %>
            <div class="alert alert-danger mt-1" role="alert"><%= error.message %></div>
          <% end %>
      <% end %>
    </div>    
  </div> <!--card-->

  <div>
    <%= form.submit 'Save profile', class: 'btn btn-outline-dark mb-3' %>
  </div>
<% end %>