<%= bootstrap_form_with model: profile, :url => organization_profile_path do |form| %>
  <% if profile.errors.count > 0 %>
    <div class="alert alert-danger mt-1" role="alert">
      <%= t '.please_fix_the_errors' %>
    </div>
  <% end %>

  <div class='card-body'>
    <!--Avatar section- not yet functional-->
    <div class="d-lg-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center mb-4 mb-lg-0">
        <img src="../assets/images/avatar/avatar-3.jpg" id="img-uploaded" class="avatar-xl rounded-circle" alt="avatar">
        <div class="ms-3">
          <h4 class="mb-0">Your avatar</h4>
          <p class="mb-0">PNG or JPG, size must be between 10kb and 1Mb</p>
        </div>
      </div>

      <div>
        <a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
      </div>
    </div>

  <!--Administrative details section-->
    <h3>Contact</h3>

    <div class="form-group">
      <%= form.telephone_field :phone_number,
                              autofocus: true,
                              placeholder: "10 digit number",
                              class: 'form-control' %>
    </div>
    
    <div class="form-group">
      <%= form.text_field :email, placeholder: "john@email.com", class: 'form-control' %>
    </div>

    <%# nested form for locations table %>
    <div class="form-group bigger" data-controller="country-state">
      <%= form.fields_for :location do |location| %>
          <%= location.select :country,
                              CS.countries.invert,
                              { prompt: "Please select" },
                              'data-path': country_states_path(:country),
                              'data-country-state-target': 'country',
                              'data-action': 'change->country-state#updateStates',
                              'data-initial-value': location.object.country,
                              required: true,
                              class: 'form-control' %>
          <% profile.location.custom_messages(:country).each do |error| %>
            <div class="alert alert-danger mt-1" role="alert"><%= error.message %></div>
          <% end %>

          <%= location.select :province_state,
                              CS.states(location.object.country).invert,
                              { prompt: "Please select" },
                              'data-country-state-target': 'state',
                              required: true,
                              class: 'form-control' %>
          <% profile.location.custom_messages(:province_state).each do |error| %>
            <div class="alert alert-danger mt-1" role="alert"><%= error.message %></div>
          <% end %>

          <%= location.text_field :city_town, class: 'form-control' %>
          <% profile.location.custom_messages(:city_town).each do |error| %>
            <div class="alert alert-danger mt-1" role="alert"><%= error.message %></div>
          <% end %>
      <% end %>
    </div>    
  </div> <!--card-->

  <div>
    <%= form.submit 'Save profile', class: 'btn btn-primary' %>
  </div>
<% end %>