<section class="py-lg-16 py-6">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class=" col-xxl-5  col-xl-6 col-lg-6 col-12">
        <div>
          <h1 class="display-2 fw-bold mb-3"><span class="text-primary"><%= t('static_pages.donate.give') %></span> <%= t('static_pages.donate.give_sentence') %></h1>
          <p class="lead mb-4"><%= t('static_pages.donate.sentence_one', organization_name: Current.tenant.name) %> <%= t('static_pages.donate.sentence_two') %></p>
          <a href="#!" class="btn btn-primary btn-lg px-5"><%= t('static_pages.donate.donate') %></a>
        </div>
      </div>
      <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-12 d-lg-flex justify-content-end">
        <div class="mt-12 mt-lg-0 position-relative">
          <%= image_tag 'donate_image.jpeg', alt: 'pet_image', class: 'img-fluid rounded-4 w-100 z-1 position-relative' %>
        </div>
      </div>
    </div>
</div>
</section>