
<% if user_signed_in? %>
  <p>Hello <%= current_user.first_name %>!</p>
  <p>
    You have succesfully authenticated with your Devise account. 
    You can now interact with Baja Pet Rescue.
  </p>
  <p>You are user type .</p>

  <% if current_user.staff_account %>
    <%= link_to 'Create Dog', new_dog_path %><br>
    <%= link_to 'Dogs Index', dogs_path %>
  <% end %>


  

  <%= link_to 'Log out', destroy_user_session_path, data: { turbo_method: "delete" } %>

<% else %>
  <p>You are not logged in</p>
  <%= link_to 'Sign up', account_select_path %><br>
  <%= link_to 'Log in', new_user_session_path, method: :get %>

<% end %>

