<section class="pt-5 pb-5" id="partners">
  <div class="container mb-md-5 mt-md-5">

    <!-- page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Partners
      </h1>
    </div>

    <!--partner1-->
    <section class="pb-3 pb-md-0">
      <div class="container mb-md-5 mt-md-5">
        <div class="mb-5">
          <h2 class="text-center text-md-start">
            Spay and neuter program
          </h2>
        </div>
        <div class="row pb-3">
          <div class="col-md-4 mb-4 mb-lg-0">
            <span>
              <%= image_tag('danielle_2.jpg', 
                  class: 'rounded-5 w-100 px-4 px-lg-0') %>
            </span>
          </div>
          <div class="col-md-8 px-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div> <!--container-->
    </section>

    <!--partner2-->
    <section class="pb-2">
      <div class="container mb-md-5 mt-md-5">
        <div class="mb-5 text-center text-md-start">
          <h2>
              Other partners
          </h2>
          <p>
              A little shout out to the businesses who support us!
          </p>
        </div>
        <div class="row pb-3">
          <div class="col-md-3 mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_2.jpg', 
                    class: 'w-100 px-4 px-lg-0') %>
            </span>
          </div>
          <div class="col-md-3 mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_2.jpg', 
                    class: 'w-100 px-4 px-lg-0') %>
            </span>
          </div>
          <div class="col-md-3 mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_2.jpg', 
                    class: 'w-100 px-4 px-lg-0') %>
            </span>
          </div>
          <div class="col-md-3 mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_2.jpg', 
                    class: 'w-100 px-4 px-lg-0') %>
            </span>
          </div>
        </div>
      </div> <!--container-->
    </section>

  </div> <!--container-->
</section>