<div class="dropdown <%= dom_id(staff, :role)%>">
  <button class="btn btn-outline-secondary dropdown-toggle <%= "disabled" if staff == current_user %>" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= staff.roles.pluck(:name).map(&:titleize).join(", ").gsub('_', ' ') %>
  </button>

  <div class="dropdown-menu"  aria-labelledby="dropdownMenuButton" >
    <% if staff.has_role?(:super_admin, current_user.organization)%>
      <%= button_to "Admin", staff_user_to_admin_path(staff), class:
      "dropdown-item" %>
    <% end %>
    <% if staff.has_role?(:admin, current_user.organization)%>
      <%= button_to "Super Admin", staff_user_to_super_admin_path(staff),
        class: "dropdown-item"
      %>
    <% end %>
  </div>
</div>
