<div class="col-xl-3 col-lg-6 col-md-6 col-12 p-2">
  <!-- Card -->
  <div class="card mb-4">
    <!-- Card body -->
    <div class="card-body">
      <div class="text-center">
        <div class="position-relative">
          <%= render AvatarComponent.new(staff, size: :xl) %>
          <a href="#" class="position-absolute mt-10 ms-n5">
            <span class="status bg-success"></span>
          </a>
        </div>
        <h4 class="mb-0"><%= "#{staff.full_name}" %></h4>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2 mt-4">
        <span><%= t(:role) %></span>
        <%= render "role", staff: staff %>
      </div>
      <div class="d-flex justify-content-between border-bottom py-2">
        <span><%= t(:joined) %></span>
        <span><%= staff.created_at.strftime("%d %B, %Y") %></span>
      </div>
      <div class="d-flex justify-content-between pt-2">
        <span><%= t(:deactivate) %></span>
        <%= render "deactivate_toggle", staff: staff %>
      </div>
    </div>
  </div>
</div>
