<div class="header">

  <!-- Cover Photo -->
  <% if partial.cover_photo.present? %>
    <%= partial.cover_photo %>
  <% else %>
    <div style='margin-top:80px'></div>
  <% end %>

  <div class="container-fluid">

    <!-- Body -->
    <div class="header-body mt-n5 mt-md-n6">
      <div class="row align-items-end">
        <% if local_assigns[:avatar] %> 
          <div class="col-auto">
            <!-- Avatar -->
            <div class="avatar avatar-xxl header-avatar-top">
              <%= image_tag local_assigns[:avatar], class: "avatar-img rounded-circle border border-2 border-body" %>
            </div>
          </div>
        <% end %>

        <div class="col mb-3 ms-n3 ms-md-n2">

          <!-- Pretitle -->
          <h6 class="header-pretitle">
            <%= local_assigns[:pretitle] %>
          </h6>

          <!-- Title -->
          <h1 class="header-title">
            <%= local_assigns[:title] %>
          </h1>

        </div>

        <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
          <%= partial.actions %>
        </div>
      </div> <!-- / .row -->

      <div class="row align-items-center">
        <div class="col">

          <!-- Nav -->
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <% (local_assigns[:nav_items] || []).each do |n| %>
              <li class="nav-item">
                <%= active_link_to n[:label], n[:url], **(n[:options] || {}), class: 'nav-link' %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div> <!-- / .header-body -->
  </div>
</div>
