<div class="card mb-4">
  <!-- Card body -->
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
      <div>
        <span class="fs-6 text-uppercase fw-semibold ls-md">
          <%= partial.title %>
        </span>
      </div>
      <div>
        <% if partial.icon %>
          <span class="fe fe-<%= partial.icon %> fs-3 text-primary"></span>
        <% end %>
      </div>
    </div>
    <h2 class="fw-bold mb-1">
      <%= partial.value %>
    </h2>
    <span class="text-success fw-semibold">
      <% if partial.trend %>
        <i class="fe fe-trending-up me-1"></i>
        <%= partial.trend %>
      <% end %>
    </span>
    <span class="ms-1 fw-medium">
      <%= partial.trend_label %>
    </span>
  </div>
</div>
