<div class="row">
  <div class="col-md-8 mx-auto card p-5 bigger">
    <%= bootstrap_form_with model: [:staff, pet] do |form| %>

      <%= form.hidden_field :organization_id,
                            value: current_user.organization_id %>

      <div class='form-group'>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class='form-group d-flex'>
        <div class='me-3'>
          <span class=''>
            <%= form.date_select :birth_date,
                                 start_year: Date.today.year - 20,
                                 end_year: Date.today.year %>
          </span>
        </div>

        <% pet.errors.full_messages_for(:birth_date).each do |message| %>
          <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
        <% end %>
      </div>

      <div class='form-group'>
        <%= form.select :sex,
                        [[t('general.male'), 'male'], [t('general.female'), 'female']],
                        { prompt: t('general.please_select') },
                        class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= form.select :species,
                        options_for_select(Pet.species.keys, selected: pet.species),
                        { prompt: t('general.please_select') },
                        class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= form.text_field :breed, class: 'form-control' %>
      </div>

      <div class="form-group mt-3">
        <div class='form-group d-flex'>
          <div class='me-3'>
            <%= form.text_field :weight_from, class: 'form-control', label: 'From weight'  %>
          </div>
          <div class='me-3'>
            <%= form.text_field :weight_to, class: 'form-control', label: 'To weight' %>
          </div>
          <div>
            <%= form.select :weight_unit,
                        Pet::WEIGHT_UNITS,
                        {},
                        class: 'form-control' %>
            <% pet.errors.full_messages_for(:weight_unit).each do |message| %>
              <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class='form-group'>
                <%= form.select :placement_type,
                options_for_select(Pet.placement_types.keys, selected: pet.placement_type),
                { prompt: t('general.please_select') },
                class: 'form-control' %>
      </div>


      <div class='form-group'>
        <div data-controller='counter'>
          <%= form.text_area :description,
                             data: { action: "input->counter#countExtraLarge",
                                     counter_target: 'input' },
                             class: 'form-control' %>
          <div data-counter-target='output' class='small mt-2 d-flex flex-row-reverse'></div>
        </div>
      </div>

      <div class='form-group'>
        <div class="form-check form-switch ps-3">
            <%= form.hidden_field :application_paused, value: false %>
            <%= form.check_box :application_paused, { class: "form-check-input", role: "switch", id: "flexSwitchCheckChecked" }, true, false %>
        </div>

        <div class="form-check form-switch ps-3">
          <%= form.hidden_field :published, value: false %>
          <%= form.check_box :published, { class: "form-check-input", role: "switch", required: false }, true, false %>
        </div>
      </div>

      <%= form.submit t('general.save'), class: 'btn btn-primary' %>
      <%= link_to t('general.cancel'), staff_pets_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div> <!--row-->
