
  <!-- table -->
  <div class="card">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Sex</th>
          <th class="text-center" scope="col">Pause Applications</th>
          <th class="text-center" scope="col">Published</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% pets.each do |pet| %>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <%= render PetAvatarComponent.new(pet)%>
                <div class="ms-3">
                  <h4 class="mb-0">
                    <%= link_to pet.name, staff_pet_path(pet), class: 'text-inherit' %>
                  </h4>
                </div>
              </div>
            </td>
            <td>
              <%= status_badge(pet) %>
            </td>
            <td>
              <%= pet.sex %>
            </td>
            <td>
              <%= render 'pause_toggle', pet: pet %>
            </td>
            <td>
              <%= render 'publish_toggle', pet: pet %>
            </td>
            <td>
              <div class="dropdown dropstart">
                <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="Dropdown1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fe fe-more-vertical"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="Dropdown1">
                  <span class="dropdown-header">Settings</span>
                  <%= link_to staff_pet_path(pet), class: 'dropdown-item' do %>
                    <i class="fe fe-edit dropdown-item-icon"></i>Edit Details
                  <% end %>
                  <%= button_to [:staff, pet], method: :delete, class: 'dropdown-item', data: { turbo_confirm: t('general.are_you_sure_delete_pet') } do %>
                    <i class="fe fe-trash dropdown-item-icon"></i>Delete
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

