<!--page heading-->
<header class="pt-5 pb-5" >
  <div class="container">
      <div class="text-center">
        <h1 class="section-heading text-uppercase underline">
          <%= t('.header') %>
        </h1>
      </div>
  </div> <!--container-->
</header>

<!--pet tiles-->
<section class="pb-5" id="adoptable_pets">
  <div class="container">
    <div class="row">
      <div class="col m-2">
      <!--filter section-->
        <%= search_form_for @q, url:adoptable_pets_path do |f| %>
          <div class='d-flex justify-content-center align-items-center flex-wrap mb-3 p-4 gap-3 rounded-5 bg-white' >
            <div class="d-flex gap-3 flex-wrap align-items-end">
              <div class="form-group">
                <%= f.label :name_i_cont, "Name" %>
                <%= f.text_field :name_i_cont, class: "form-control", placeholder: "Enter a few characters" %>
              </div>
              <div class="form-group">
                <%= f.label :sex_eq, "Sex" %>
                <%= f.select :sex_eq, ["Male", "Female"], {include_blank: 'All'}, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :species_eq, "Species" %>
                <%= f.select :species_eq, Pet.species, {include_blank: 'All'}, class: "form-select" %>
              </div>              
              <div class="form-group">
                <%= f.label :breed_eq, "Breed" %>
                <%= f.select :breed_eq, get_animals, {include_blank: 'All'}, class: "form-select" %>
              </div>
              <div class="form-group">
                <%= f.label :ransack_birth_date, "Age" %>
                <%= f.select :ransack_birth_date, age_ranges, {include_blank: 'All'}, class: "form-select"%>
              </div>
            </div>
            <div class='d-flex w-md-auto flex-md-row align-items-end' style="align-self: flex-end;">
              <%= f.submit class: "btn btn-primary" %>
              <%= link_to "Clear filters", adoptable_pets_path, class: "btn btn-default"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  
    <div class="row">
      <% @pets.each do |pet| %>
        <div class="col-lg-4 col-md-6 p-0">
          <%= render CardComponent.new(
            card_options: {class: "card card-hover m-4"},
            image_options: {src: pet.images.first, url: adoptable_pet_path(pet)}
          ) do |c| %>
            <%= c.with_badge do %>
              <%= render BadgeComponent.new("Adoption Pending", class: "badge bg-info", when: pet.has_adoption_pending?) %>
              <%= render BadgeComponent.new("Adopted", class: "badge bg-warning", when: pet.is_adopted?) %>
            <% end %>
            <%= c.with_body do %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <%= link_to adoptable_pet_path(pet), class: 'text-decoration-none' do %>
                    <h3 class="card-title text-secondary mb-0">
                      <%= pet.name %>
                    </h3>
                  <% end %>
                  <% if current_user&.adopter_foster_account %>
                    <div class='text-end' id="like_button_pet_<%= pet.id %>">
                      <%= render LikeButtonComponent.new(pet: pet, like: @likes&.find { |lp| lp.pet_id == pet.id }) %>
                    </div>
                  <% end %>
                </li>
                <% li_classes = %w[list-group-item text-secondary] %>
                <%= tag.li("Age: #{time_ago_in_words(pet.birth_date).titleize}", class: li_classes) %>
                <%= tag.li("Breed: #{pet.breed}", class: li_classes) %>
                <%= tag.li("Sex: #{pet.sex}", class: li_classes) %>
                <%= tag.li("Weight range: #{[pet.weight_from, pet.weight_to].join("-")} kg", class: li_classes) %>
              </ul>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div> <!--container-->
</section>
