<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Staff Sign Up</h1>
    
    <p>
      Name:
      <%= @user.first_name %>
      <%= @user.last_name %>      
    </p>

    <p>
      Email: <%= @user.email %>    
    </p>

    <p>
      user_id: <%= @user.id %>    
    </p>

    <p>
      Admin, please do the following: 
    </p>

    <ol>
      <li>Verify this person with an organization</li>
      <li>If legitimate, set their staff account to verified</li>
    </ol>

    <p><a href="<%= @home_url %>">Log in</a></p>

    <strong>- Baja Pet Rescue Team</strong>
  </body>
</html>