<div class="row">
  <div class="col-md-8 mx-auto card p-5 bigger">
    <%= bootstrap_form_with model: form do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.text_area :description, class: 'form-control', rows: 3 %>
      </div>

      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', help: t('.help_text.title') %>
      </div>

      <div class="form-group">
        <%= f.text_area :instructions, class: 'form-control', rows: 3, help: t('.help_text.instructions') %>
      </div>

      <%= f.submit t('general.save'), class: 'btn btn-primary' %>
      <%= link_to t('general.cancel'), forms_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
