<nav class="navbar navbar-expand-lg bg-transparent shadow-none px-0 py-3">
  <div class="container-fluid px-4">
    <%= image_tag('png/logo.png', width: '40px', height: '35px', alt: 'Organization logo',
                    class: 'pe-2') %>
    <%= link_to home_index_path, class: 'navbar-brand fw-bold text-black' do %>
      <%= Current.organization.name %>
    <% end %>

    <div class="d-flex align-items-center order-lg-3">
      <div>
        <button class="navbar-toggler collapsed me-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default3" aria-controls="navbar-default3" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
      </div>

      <% unless user_signed_in? %>
        <%= active_link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary mx-2' %>
        <%= active_link_to 'Log In', new_user_session_path, class: 'btn btn-primary' %>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item d-block">
          <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'ms-2 btn btn-primary' %>
        </li>
      <% end %>
    </div>

    <!-- Collapse -->
    <div class="justify-content-end collapse navbar-collapse" id="navbar-default3">
      <ul class="navbar-nav">
        <li class='nav-item'>
          <%= active_link_to 'Pets', adoptable_pets_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= active_link_to 'About', about_us_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= active_link_to 'Contact', new_contact_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= active_link_to 'Donate', donate_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= active_link_to 'FAQ', faq_index_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <% if allowed_to?(:index?, with: Organizations::AdopterFosterDashboardPolicy, context: {organization: Current.organization}) %>            <li class='nav-item'>
              <%= active_link_to 'Dashboard', adopter_foster_dashboard_index_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if allowed_to?(:index?, with: Organizations::DashboardPolicy, context: {organization: Current.organization}) %>
            <li class='nav-item'>
              <%= active_link_to 'Dashboard', staff_dashboard_index_path, class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<!--  Demo banner-->
<% if Rails.env.staging? %>
  <div class="container-fluid m-0 p-2 text-center bg-danger-soft display-6">
    This is a demo site
  </div>
<%  end %>
