<nav class="navbar navbar-expand-lg navbar-transparent shadow-none w-100">
  <div class="container px-0">
      <%= link_to root_path, class: 'navbar-brand fw-bold display-5' do %>
        <%= t('.title') %>
        <small class = "ls-xs text-dark" style = "display: block; font-size: 12px; font-weight: 400; color: #000000;"><%= t('.sub_title') %></small>
      <% end %>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default3" aria-controls="navbar-default3" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar mt-0"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>

    <!-- Button -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbar-default3">
    <ul class="navbar-nav me-auto">
      <li class='nav-item'>
        <%= active_link_to 'About Us', '#about', class: 'nav-link', style: 'color: #000000;', active: :exact %>
      </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarBrowse", style: 'color: #000000;', data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-display="static">
          <%= t('.dropdown_title') %>
        </a>
        <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarBrowse">
          <% Organization.all.each do |org| %>
            <li>
              <%= link_to org.name, organization_home_path(org), class: 'dropdown-item' %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <div class="ms-auto mt-3 mt-lg-0">
      <button class="btn btn-primary px-5" type="button"><%= t('.btn_title') %></button>
    </div>
  </div>
  </div>
</nav>