<!-- footer -->
<footer class="pt-lg-10 pt-5 footer bg-white">
  <div class="container">
      <div class="row align-items-center">
        <div class="col-auto px-3">
          <h3 class="fw-bold" style = "color: #000000;"><%= t('.title')%></h3>
        </div>
        <div class="col">
          <ul class="list-unstyled d-flex justify-content-start mb-0">
            <li class="mx-3">
              <%= active_link_to t('.about'), about_us_path, class: 'nav-link p-0', style: "color: #000000;" %>
            </li>
            <li class="mx-3">
              <%= active_link_to t('.rescues'), '#', class: 'nav-link p-0', style: "color: #000000;" %>
            </li>
            <li class="mx-3">
              <%= active_link_to t('.ruby_for_good'), partners_path, class: 'nav-link p-0', style: "color: #000000;" %>
            </li>
          </ul>
        </div>
    </div>
    <div class="row align-items-center g-0 border-top py-2 mt-6">
      <!-- Desc -->
      <div class="col-lg-4 col-md-5 col-12">
        <span>
          ©
          <span id="copyright">
            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
          <%= t('.rights') %>
        </span>
      </div>
      <!-- Links -->
      <div class="col-12 col-md-7 col-lg-8 d-md-flex justify-content-end">
        <nav class="nav nav-footer">
          <a class="nav-link ps-0" href="#"><%= t('.policy') %></a>
          <a class="nav-link px-2 px-md-3" href="#"><%= t('.cookie') %></a>
          <a class="nav-link" href="#"><%= t('.terms') %></a>
        </nav>
      </div>
    </div>
  </div>
</footer>
