    <%# Table layout %>
<div class="card d-none d-xl-block mb-4 flex-grow-1">
  <% if current_page?(staff_adoption_application_reviews_path) %>
    <div class="card-header">
      <h4 class="mb-0"><%= link_to pet.name, staff_pet_path(pet), class: "link-underline link-underline-opacity-0" %></h4>
    </div>
  <% end %>
  <div class="card-body px-5">
    <%# headers %>
    <div class="row border-bottom pb-3 pt-1">
      <div class="col fw-semibold">
        <%= t("organizations.staff.pets.applications.applicant")%>
      </div>
      <div class="col fw-semibold" style="min-width: 220px;">
        <%= t("organizations.staff.pets.applications.status")%>
      </div>
      <div class="col">	</div>
      <div class="col fw-semibold">
        <%= t("organizations.staff.pets.applications.notes")%>
      </div>
    </div>
    <% applications.each do |app|%>
      <%= render 'organizations/staff/pets/tabs/partials/application_info_table', app: app %>
    <% end %>
  </div>
</div>

<%# Cards layout %>
<%# Grid cell %>
<%# Card %>

<div class="col">
  <div class="card card-hover m-4 d-xl-none" style='overflow: hidden; width: 350px;'>
    <%# Card image %>
    <%= link_to staff_pet_path(pet) do %>
      <% if pet.images.attached? %>
        <%= image_tag pet.images.first, class: "card-img-top" %>
      <% else %>
        <%= image_tag "coming_soon.jpg", class: "card-img-top" %>
      <% end %>
    <% end %>
    <%# Card header %>
    <div class="card-header">
      <h4 class="card-title">
        <%= link_to pet.name, staff_pet_path(pet) %>
      </h4>
    </div>
    <%# Card body %>
    <ul class="list-group list-group-flush">
      <% applications.each do |app| %>
        <%= render 'organizations/staff/pets/tabs/partials/application_info_card', app: app %>
      <% end %>
    </ul>
  </div>
</div>
