<%# Table layout %>
<div class="card d-none d-xl-block mb-4 flex-grow-1">
  <% if current_page?(staff_submission_reviews_path) %>
    <div class="card-header">
      <h4 class="mb-0"><%= link_to pet.name, staff_pet_path(pet), class: "link-underline link-underline-opacity-0" %></h4>
    </div>
  <% end %>
  <div class="card-body px-5">
    <%# headers %>
    <div class="row border-bottom pb-3 pt-1">
      <div class="col fw-semibold">
        <%= t("organizations.staff.pets.submissions.applicant")%>
      </div>
      <div class="col fw-semibold" style="min-width: 220px;">
        <%= t("organizations.staff.pets.submissions.status")%>
      </div>
      <div class="col">	</div>
      <div class="col fw-semibold">
        <%= t("organizations.staff.pets.submissions.notes")%>
      </div>
    </div>
    <% submissions.each do |sub|%>
      <%= render 'organizations/staff/pets/tabs/partials/submission_info_table', sub: sub %>
    <% end %>
  </div>
</div>

<%# Card %>
<div class="col-lg-5 d-xl-none">
  <div class="card card-hover m-2 m-sm-4" style='overflow: hidden; max-width: 350px;'>
    <%# Card image %>
    <%= link_to staff_pet_path(pet) do %>
      <% if pet.images.attached? %>
        <%= image_tag pet.images.first, class: "card-img-top" %>
      <% else %>
        <%= image_tag "coming_soon.jpg", class: "card-img-top" %>
      <% end %>
    <% end %>
    <%# Card header %>
    <div class="card-header">
      <h4 class="card-title">
        <%= link_to pet.name, staff_pet_path(pet) %>
      </h4>
    </div>
    <%# Card body %>
    <% submissions.each do |sub| %>
      <%= render 'organizations/staff/pets/tabs/partials/submission_info_card', sub: sub %>
    <% end %>
  </div>
</div>
