<div class="card">
  <% if current_page?(staff_adoption_submission_reviews_path) %>
    <div class="card-header">
      <h4 class="mb-0"><%= link_to pet.name, staff_pet_path(pet), class: "link-underline link-underline-opacity-0" %></h4>
    </div>
  <% end %>
  <div class="card-body px-5">
    <%# headers %>
    <div class="row border-bottom pb-3 pt-1">
      <div class="col fw-semibold">
        <%= t("organizations.staff.pets.submissions.applicant")%>
      </div>
      <div class="col fw-semibold" style="min-width: 220px;">
        <%= t("organizations.staff.pets.submissions.status")%>
      </div>
      <div class="col">
      </div>
      <div class="col fw-semibold">
        <%= t("organizations.staff.pets.submissions.notes")%>
      </div>
    </div>
    <% submissions.each do |sub|%>
      <%= render 'organizations/staff/pets/tabs/partials/submission_status', sub: sub %>
    <% end %>
  </tbody>
</div>
</div>
