<div class="pt-2 border-bottom border-3" id="<%= dom_id(app, :card) %>">
  <ul class="list-group list-group-flush">

    <li class="list-group-item">
      <span><%= t("organizations.staff.pets.applications.applicant")%>:</span>
      <div>
        <%= link_to "PLACEHOLDER FOR FORM ANSWERS", nil, class: "link-underline link-underline-opacity-0"  %>
      </div>
    </li>

    <li class="list-group-item">
      <%= render 'organizations/staff/pets/tabs/partials/application_status', app: app %>
    </li>

    <li class="list-group-item">
      <%= render 'organizations/staff/pets/tabs/partials/application_create_button', app: app %>
    </li>

    <li class="list-group-item">
      <%= render 'organizations/staff/pets/tabs/partials/application_notes', app: app, modal_id: 'card' %>
    </li>
  </ul>
</div>
