<div class="row pt-3" id="<%= dom_id(foster) %>">
  <!-- fosterer -->
  <div class="align-middle col-4">
    <%= link_to link_to "PLACEHOLDER FOR FORM ANSWERS", nil,
                class: "link-underline link-underline-opacity-0" %>
  </div>
  <!-- status -->
  <div class="align-middle col-2">
    <div class="badge <%= status_classes(foster.status) %>">
      <%= foster.status.to_s.titleize %>
    </div>
  </div>
  <!-- start date -->
  <div class="align-middle col-2">
    <%= turbo_frame_tag dom_id(foster, :start_date) do %>
      <%= link_to foster.start_date.strftime("%m/%d/%Y"),
                  edit_staff_manage_foster_path(foster),
                  class: "btn btn-outline-primary mb-2 px-2 py-1" %>
    <% end %>
  </div>
  <!-- end date -->
  <div class="align-middle col-2">
    <%= turbo_frame_tag dom_id(foster, :end_date) do %>
      <%= link_to foster.end_date.strftime("%m/%d/%Y"),
                  edit_staff_manage_foster_path(foster),
                  class: "btn btn-outline-primary mb-2 px-2 py-1" %>
    <% end %>
  </div>
  <!-- delete -->
  <div class="align-middle col-2">
    <%= button_to t('general.delete'), staff_manage_foster_path(foster),
                  method: :delete,
                  class: "btn btn-outline-danger px-2 py-1",
                  data: {
                    turbo_confirm: "Click OK to delete this foster."
                  } %>
  </div>
</div>
