<%= form_with(model: checklist_template) do |form| %>
  <% if checklist_template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(checklist_template.errors.count, "error") %> prohibited this checklist_template from being saved:</h2>

      <ul>
        <% checklist_template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_field :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
