<p style="color: green"><%= notice %></p>

<%= render @checklist_template %>

<div>
  <%= link_to "Edit this checklist template", edit_checklist_template_path(@checklist_template) %> |
  <%= link_to "Back to checklist templates", checklist_templates_path %>

  <%= button_to "Destroy this checklist template", @checklist_template, method: :delete %>
</div>
