<nav class="navbar navbar-vertical fixed-top vh-100 col-lg-3 col-sm-3" data-simplebar>
  <!-- Brand logo -->
  <a class="navbar-brand">
    <img src="" alt="">
  </a>

  <!-- Navbar nav -->
  <ul class="navbar-nav flex-column" id="sideNavbar">
    <li class="nav-item">
      <div class="navbar-heading">Menu</div>
    </li>
    <% if current_user.staff_account && current_user.staff_account.has_role?(:admin, current_user.staff_account.organization) %>
      <li class="nav-item">
        <%= active_link_to settings_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-book me-2"></i> Settings
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_index_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-book me-2"></i> Staff
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= active_link_to adoption_application_reviews_path, class: "nav-link" do %>
        <i class="nav-icon fe fe-book me-2"></i> Adoption Applications
      <% end %>
    </li>
    <li class="nav-item">
      <%= active_link_to foster_application_reviews_path, class: "nav-link" do %>
        <i class="nav-icon fe fe-book me-2"></i> Foster Applications
      <% end %>
    </li>
    <li class="nav-item">
      <%= active_link_to pets_path, class: "nav-link" do %>
        <i class="nav-icon fe fe-book me-2"></i> Pets
      <% end %>
    </li>
    <!-- Nav item -->
    <li class="nav-item">
      <div class="nav-divider"></div>
    </li>
  </ul>
</nav>