<nav class="navbar navbar-vertical">
  <div class="vh-100" data-simplebar>
    <!-- Brand logo -->
    <p class="navbar-brand flex-column">
      <%= link_to home_index_path, class: "nav-link" do %>
        <% if Current.organization.avatar.attached? %>
          <%= image_tag Current.organization.avatar, alt: current_organization_name, title: current_organization_name, class: 'rounded-1' %>
        <% else %>
          <%= current_organization_name %>
        <% end %>
      <% end %>
    </p>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" id="sideNavbar">
      <li class="nav-item">
        <%= active_link_to staff_dashboard_index_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-home me-2"></i>Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <div class="navbar-heading text-white">Pets</div>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_pets_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-heart me-2"></i>Pets
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_adoption_application_reviews_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i>Adoption Applications
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_manage_fosters_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i>Fosters
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_default_pet_tasks_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i>Default Pet Tasks
        <% end %>
      </li>
      <li class="nav-item">
        <div class="nav-divider"></div>
      </li>
      <li class="nav-item">
        <div class="navbar-heading text-white">People</div>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_fosterers_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-users me-2"></i>Fosterers
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_adopters_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-users me-2"></i>Adopters
        <% end %>
      </li>
      <% if allowed_to?(:index?, User, namespace: Organizations, context: {organization: Current.organization})%>
        <li class="nav-item">
          <%= active_link_to staff_staff_index_path, class: "nav-link" do %>
            <i class="nav-icon fe fe-users me-2"></i>Staff
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <div class="nav-divider"></div>
      </li>
      <li class="nav-item">
        <div class="navbar-heading text-white">Admin</div>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_faqs_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i>FAQs
        <% end %>
      </li>
      <% if allowed_to?(:edit?, Organization, namespace: Organizations,
        context: {organization: Current.organization})
      %>
        <li class="nav-item">
          <%= active_link_to edit_staff_organization_path, class: "nav-link" do %>
            <i class="nav-icon fe fe-settings me-2"></i>Settings
          <% end %>
        </li>
      <% end %>
      <% if allowed_to?(:edit?, CustomPage, namespace: Organizations,
        context: {organization: Current.organization}) 
      %>
        <li class="nav-item">
          <%= active_link_to edit_staff_custom_page_path(@custom_page), class: "nav-link" do %>
            <i class="nav-icon fe fe-layout me-2"></i>Custom Page
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
          <%= active_link_to staff_external_form_upload_index_path, class: "nav-link" do %>
            <i class="nav-icon fe fe-file-text me-2"></i>External Form Upload
          <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to new_dev_contact_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-message-circle me-2"></i>Feedback
        <% end %>
      </li>
    </ul>
  </div>
</nav>
