<nav class="navbar navbar-vertical">
  <div class="vh-100" data-simplebar>
    <!-- Brand logo -->
    <p class="navbar-brand flex-column">
      <%= link_to home_index_path, class: "nav-link" do %>
        <% if Current.organization.profile.avatar.attached? %>
          <%= image_tag Current.organization.profile.avatar, alt: current_organization_name, title: current_organization_name, class: 'rounded-1' %>
        <% else %>
          <%= current_organization_name %>
        <% end %>
      <% end %>
    </p>
    <!-- Navbar nav -->
    <ul class="navbar-nav flex-column" id="sideNavbar">
      <li class="nav-item">
        <div class="navbar-heading">Menu</div>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_dashboard_index_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-home me-2"></i> Dashboard
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_adoption_application_reviews_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i> Adoption Applications
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_manage_fosters_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i> Foster Applications
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_pets_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-heart me-2"></i> Pets
        <% end %>
      </li>
      <!-- Nav item -->
      <li class="nav-item">
        <div class="nav-divider"></div>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_default_pet_tasks_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i> Default Pet Tasks
        <% end %>
      </li>
      <li class="nav-item">
        <%= active_link_to staff_faqs_path, class: "nav-link" do %>
          <i class="nav-icon fe fe-file-text me-2"></i>  FAQs
        <% end %>
      </li>
      <% if current_user.staff_account && current_user.has_role?(:admin, current_user.staff_account.organization) %>
        <li class="nav-item">
          <%= active_link_to staff_forms_path, class: 'nav-link' do %>
            <i class="nav-icon fe fe-clipboard me-2"></i> Forms
          <% end %>
        </li>
        <li class="nav-item">
          <%= active_link_to edit_staff_organization_profile_path, class: "nav-link" do %>
            <i class="nav-icon fe fe-settings me-2"></i> Settings
          <% end %>
        </li>
        <li class="nav-item">
          <%= active_link_to edit_staff_page_text_path(@page_text), class: "nav-link" do %>
            <i class="nav-icon fe fe-file-text me-2"></i> Page Text
          <% end %>
        </li>
        <li class="nav-item">
          <%= active_link_to staff_staff_index_path, class: "nav-link" do %>
            <i class="nav-icon fe fe-users me-2"></i> Staff
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
