<turbo-frame id="tasks-frame">
<h3 class = "text-capitalize"><%= @header_title%></h3>
  <div class="card">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th class="text-center" scope="col">Sex</th>
          <th class="text-center" scope="col"><%= @column_name %></th>
        </tr>
      </thead>
      <tbody>
        <% @pets.each do |pet| %>
          <tr data-controller="click-row" data-click-row-url-value="<%= staff_pet_path(pet, active_tab: 'tasks') %>" class="cursor-pointer">
            <td>
              <div class="d-flex align-items-center">
                <%= render PetAvatarComponent.new(pet)%>
                <div class="ms-3">
                  <h4 class="mb-0">
                    <%= pet.name %>
                  </h4>
                </div>
              </div>
            </td>
             <td>
              <div class="d-flex justify-content-center">
                <%= pet.sex %>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <%= pet.incomplete_tasks_count %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-2">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</turbo-frame>