<turbo-frame id="tasks-frame">
  <div class="card">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th class="text-center" scope="col">Sex</th>
          <th class="text-center" scope="col"><%= column_name %></th>
        </tr>
      </thead>
      <tbody>
        <% @pets.each do |pet| %>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="icon-shape icon-lg rounded-3 border">
                  <% if pet.images.attached? %>
                    <%= image_tag pet.images.first, class: 'card-img' %>
                  <% else %>
                    <%= image_tag('coming_soon.jpg', class: 'card-img') %>
                  <% end %>
                </div>
                <div class="ms-3">
                  <h4 class="mb-0">
                    <%= link_to pet.name, staff_pet_path(pet), class: 'text-inherit', data: { turbo: false } %>
                  </h4>
                </div>
              </div>
            </td>
             <td>
              <div class="d-flex justify-content-center">
                <%= pet.sex %>
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                <%= link_to pet.incomplete_tasks_count, staff_pet_path(pet, active_tab: 'tasks'), class: 'text-inherit', data: { turbo: false } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-2">
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</turbo-frame>