<div class="row">
  <div class="col-md-8 mx-auto card p-5 bigger">
    <%= bootstrap_form_with model: [:staff, task] do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_area :description, class: 'form-control', rows: 3 %>
      </div>
      <div class="form-group">
        <%= f.select :species,
                      options_for_select(DefaultPetTask.human_enum_names(:species), task.human_enum_name(:species)), 
                      { prompt: t('general.please_select') },
                      { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.number_field :due_in_days, class: 'form-control', help: t('.help_due_in_days') %>
      </div>
      <div class="form-group">
        <%= f.check_box :recurring,
                      { class: "form-check-input",
                        id: "recur"} %>
      </div>
      <%= f.submit t('general.save'), class: 'btn btn-primary' %>
      <%= link_to t('general.cancel'), staff_default_pet_tasks_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
