<%= render DashboardPageComponent.new(crumb: :default_pet_tasks_index) do |c| %>
  <% c.with_header_title { t(".default_pet_tasks") } %>
  <% c.with_action do %>
    <%= link_to t('.create_default_task'), new_staff_default_pet_task_path, class: "btn btn-primary" %><br>
  <% end %>
  <% c.with_body do %>
  <!-- Ransack Search Form -->
   <section class="pb-5">  <%# #maybe %>
      <div class="container"> <%# #maybe %>
        <div class="row p-4 border rounded-5 mb-5 bg-white">
          <div class="col-xl-12">
            <%= search_form_for @q, url: staff_default_pet_tasks_path do |f| %>
              <div class="row">
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :name_cont, "Name" %>
                  <%= f.text_field :name_cont %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :name_cont, "Species" %>
                  <%= f.text_field :name_cont %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :name_cont, "Due After" %>
                  <%= f.text_field :name_cont %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :name_cont, "Recurring" %>
                  <%= f.text_field :name_cont %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.submit "Search" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div> <!-- Container -->
  </section>

    <!-- row -->
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- card -->
      <div class="card">
        <!-- table -->
        <div class="table-responsive overflow-y-hidden">
          <table class="table mb-0 text-nowrap table-hover table-centered">
            <thead>
              <tr>
                <th scope="col">
                  <%= t('.name') %>
                </th>
                <th scope="col">
                  <%= t('.description') %>
                </th>
                <th scope="col">
                  <%= t('.species') %>
                </th>
                <th scope="col">
                  <%= t('.due_after') %>
                </th>
                <th scope="col">
                  <%= t('.recurring') %>
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @default_pet_tasks.each do |task| %>
                <tr>
                  <td>
                    <%= task.name %>
                  </td>
                  <td>
                    <%= task.description %>
                  </td>
                  <td>
                    <%= task.human_enum_name(:species) %>
                  </td>
                  <td>
                    <%= task.due_in_days ? pluralize(task.due_in_days, "day") : "" %>
                  </td>
                  <td>
                    <%= task.recurring? ? "Yes" : "No" %>
                  </td>
                  <% if current_user.staff_account %>
                    <td>
                      <div class="text-right">
                        <div class="d-flex align-items-center justify-content-end">
                          <%= link_to 'Edit', edit_staff_default_pet_task_path(task), class: 'btn btn-warning m-2' %>
                          <%= link_to 'Delete', staff_default_pet_task_path(task), class: 'btn btn-danger m-2', data: { turbo_method: "delete", turbo_confirm: t('.are_you_sure_delete') } %>
                        </div>
                      </div>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
