<section class="pt-5 pb-5" id="pets">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Our pets
      </h1>
    </div>

    <!--filter section-->
    <div class="row p-4 border rounded-5 ms-2 ms-md-0 me-2 me-md-0 mb-md-5 mt-md-5">
      <div class ="col-md-6 d-flex flex-column gap-3">

        <!--form1-->
        <%= form_with url: '/pets', method: :get do | f | %>
          <div class="d-flex gap-3 form-group">
            <%= f.select :selection, ['Seeking Adoption', 'Adopted'], 
                          { prompt: "Filter by adoption status" }, 
                          class: 'form-control' %>
            <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
          </div>
        <% end %>
        
        <div class="d-flex gap-3 form-group">
          <%- @pets.each do |pet| %>
            <%= link_to pet.name, pet_path(pet) %>
          <% end %>
        </div>
      </div>

      <div class ="col-md-6 d-flex justify-content-center align-items-center">
         <%= link_to 'Create Pet', new_pet_path, class: 'custom-btn-pink' %><br>
      </div>
    </div> <!--row-->

    <!--pet tile section-->
    <div class="row">
      <% @pets.each do |pet| %>    
        <div class="col-lg-4 col-md-6 p-0">
          <%= link_to pet_path(pet), class: 'text-decoration-none' do %>
            <div class="card m-4">
              <% if pet.images.attached? %>
                <%= image_tag pet.images.first, class: 'card-img-top test' %>
              <% else %>
                <%= image_tag('coming_soon.jpg', class: 'card-img-top test') %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title">
                  <%= pet.name %>
                </h5>
                <p class="card-text">
                  Breed: <%= pet.breed %>
                </p>
                <p class="card-text">
                  Applications: <%= pet.application_paused == false ? 'active' : 'paused' %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div> <!--row-->

  </div> <!--container-->
</section>