<section class="pt-5 pb-5" id="pets">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        <%- if current_user&.staff_account&.verified %>
          Our pets
        <%- else %>
          Up for adoption
        <% end %>
      </h1>
    </div>

    <%= render "filter_section" %>

    <!--pet tile section-->
    <div class="row">
      <% @pets.each do |pet| %>    
        <div class="col-lg-4 col-md-6 p-0">
          <%= link_to pet_path(pet), class: 'text-decoration-none' do %>
            <div class="card m-4">
              <% if pet.images.attached? %>
                <%= image_tag pet.images.first, class: 'card-img-top test' %>
              <% else %>
                <%= image_tag('coming_soon.jpg', class: 'card-img-top test') %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title">
                  <% if pet.has_adoption_pending? %>
                    <%= pet.name %> (Adoption Pending)
                  <% else %>
                    <%= pet.name %>
                  <% end %>
                </h5>
                <p class="card-text m-0 bigger">
                  Age: <%= "#{pet.age}" " #{pet.age_unit}" %>
                </p>
                <p class="card-text">
                  Breed: <%= pet.breed %>
                </p>
                <%- if current_user&.staff_account&.verified %>
                  <p class="card-text">
                    Applications: <%= pet.application_paused == false ? 'active' : 'paused' %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div> <!--row-->

  </div> <!--container-->
</section>