
<div class="modal" tabindex="-1" id="newTaskModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Form for Adding a New Task -->
        <%= form_for [@pet, Task.new], remote: true do |f| %>
          <div class="mb-3">
            <%= f.label :name, "Task Name" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="mb-3">
            <%= f.label :description, "Task Description" %>
            <%= f.text_area :description, class: 'form-control', rows: 3 %>
          </div>
          <div class="mb-3">
            <%= f.label :completed, "Task Completed?" %>
            <%= f.check_box :completed %>
          </div>
          <div class="mb-3">
            <%= f.submit "Add Task", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
