    <div class="col-md-12 col-xl-8 col-12">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card">
            <div class="card-header">
              <div class="d-flex justify-content-between
                    align-items-center">
                <div>
                  <h4 class="mb-0">Summary</h4>
                </div>
                <!-- dropdown  -->
                <div>
                        <span class="dropdown dropstart">
                          <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" id="DropdownTen" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                          </a>
                          <span class="dropdown-menu" aria-labelledby="DropdownTen">
                            <span class="dropdown-header">Settings</span>
                            <%= link_to t('general.edit'), edit_pet_path(@pet), class: 'dropdown-item' %>
                            <%= link_to t('general.delete'), pet_path(@pet), class: 'dropdown-item',
                                        data:
                                          {
                                            turbo_method: :delete,
                                            turbo_confirm: t('organization_pets.show.are_you_sure_delete')
                                          } %>
                          </span>
                        </span>
                </div>
              </div>


            </div>
            <div class="card-body">
              <p><%= @pet.description %> </p>

              <ul class="list-group list-group-flush">
                <li class="list-group-item px-0">
                  <div class="d-flex justify-content-between
                            align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="fe fe-book me-2"></i>
                      <div class="ms-2">
                        <h5 class="mb-0 text-body">Sex</h5>
                      </div>
                    </div>
                    <div>
                      <div>
                        <p class="text-dark mb-0 fw-semibold"><%= @pet.sex %></p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0">
                  <div class="d-flex justify-content-between
                            align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="fe fe-book me-2"></i>
                      <div class="ms-2">
                        <h5 class="mb-0 text-body">Breed</h5>
                      </div>
                    </div>
                    <div>
                      <div>
                        <p class="text-dark mb-0 fw-semibold"><%= @pet.breed %></p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item  px-0">
                  <div class="d-flex justify-content-between
                        align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="fe fe-book me-2"></i>
                      <div class="ms-2">
                        <h5 class="mb-0 text-body">Weight</h5>
                      </div>
                    </div>
                    <div>
                      <div>
                        <p class="text-dark mb-0 fw-semibold"><%= "#{@pet.weight_from} - #{@pet.weight_to} #{@pet.weight_unit}" %></p>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="list-group-item px-0 pb-0">
                  <div class="d-flex
                          justify-content-between
                          align-items-center">
                    <div class="d-flex
                            align-items-center">
                      <i class="fe fe-book me-2"></i>
                      <div class="ms-2">
                        <h5 class="mb-0 text-body">Application Status</h5>
                      </div>
                    </div>
                    <div>
                      <div>
                        <p class="text-dark mb-0 fw-semibold">
                          <%= @pet.application_paused == false ? t('.application.active') : t('.application.paused') %>
                        </p>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>