<%# set @collection to appropriate controller instance variable %>
<% if params[:dog_id] == '' || params[:selection] == 'Seeking Adoption'  %> 
  <% @collection = @unadopted_dogs %>
<% elsif params[:selection] == 'Adopted' %>
  <% @collection = @adopted_dogs %>
<% elsif params[:dog_id]  %>
  <% @collection = @dog %>
<% else %>
  <% @collection = @unadopted_dogs %>
<% end %>


<section class="pt-5 pb-5" id="dogs">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Our dogs
      </h1>
    </div>

    <!--filter section-->
    <div class="row p-4 border rounded-5 ms-2 ms-md-0 me-2 me-md-0 mb-md-5 mt-md-5">
      <div class ="col-md-6 d-flex flex-column gap-3">

        <!--form1-->
        <%= form_with url: '/dogs', method: :get do | f | %>
          <div class="d-flex gap-3 form-group">
            <%= f.select :selection, ['Seeking Adoption', 'Adopted'], 
                          { prompt: "Filter by adoption status" }, 
                          class: 'form-control' %>
            <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
          </div>
        <% end %>
        
        <!--form2-->
        <%# only show dog name seletion if collection is greater than e.g., 5 dogs? %>
        <%= form_with url: '/dogs', class: 'mb-3 mb-md-0', method: :get do | f | %>
          <div class="d-flex gap-3 form-group">
            <%= f.collection_select :dog_id, @collection, :id, :name, 
                                    { prompt: 'Filter by name' }, 
                                    class: 'form-control' %>
            <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
          </div>
        <% end %>

      </div>

      <div class ="col-md-6 d-flex justify-content-center align-items-center">
         <%= link_to 'Create Dog', new_dog_path, class: 'custom-btn-pink' %><br>
      </div>
    </div> <!--row-->

    <!--dog tile section-->
    <div class="row">
      <% @collection.each do |dog| %>    
        <div class="col-lg-4 col-md-6 p-0">
          <%= link_to dog_path(dog), class: 'text-decoration-none' do %>
            <div class="card m-4">
              <% if dog.images.attached? %>
                <%= image_tag dog.images.first, class: 'card-img-top test' %>
              <% else %>
                <%= image_tag('coming_soon.jpg', class: 'card-img-top test') %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title">
                  <%= dog.name %>
                </h5>
                <p class="card-text">
                  Breed: <%= dog.breed %>
                </p>
                <p class="card-text">
                  Applications: <%= dog.application_paused == false ? 'active' : 'paused' %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div> <!--row-->

  </div> <!--container-->
</section>