<%# set @collection to appropriate controller instance variable %>
<% if params[:dog_id] == '' || params[:selection] == 'Seeking Adoption'  %> 
  <% @collection = @unadopted_dogs %>
<% elsif params[:selection] == 'Adopted' %>
  <% @collection = @adopted_dogs %>
<% elsif params[:dog_id]  %>
  <% @collection = @dog %>
<% else %>
  <% @collection = @unadopted_dogs %>
<% end %>

<%= link_to 'Create Dog', new_dog_path %><br>

<%= form_with url: '/dogs', method: :get do | f | %>

    <%= f.label :selection, 'Filter by adoption status:' %>
    <%= f.select :selection, ['Seeking Adoption', 'Adopted'], { prompt: "Select..." } %>

    <%= f.submit 'Submit', class: 'button is-info search-button' %>

  <% end %>

<%# only show dog name seletion if collection is greater than e.g., 5 dogs? %>
<%= form_with url: '/dogs', method: :get do | f | %>

    <%= f.label :dog_id, 'Filter by name' %>
    <%= f.collection_select :dog_id, @collection, :id, :name, { prompt: 'All' } %>

    <%= f.submit 'Submit', class: 'button is-info search-button' %>

  <% end %>

 
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card-deck">
        <div class="row">
          <% @collection.each do |dog| %>    
            <div class="col-sm-3">
              <div class="card">
                <% if dog.images.attached? %>
                  <%= image_tag dog.images.first, class: "card-img-top" %>
                <% else %>
                  <img class="card-img-top" src="https://images.pexels.com/photos/58997/pexels-photo-58997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= dog.name %></h5>
                  <p class="card-text">Age:<%= dog.age %></p>
                  <%= link_to 'View', dog_path(dog) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>