<section class="pt-5 pb-5" id="adoptable_dogs_show">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        <%= @dog.name %>
      </h1>
    </div>

    <!--dog tile-->
    <div class="row">
      <div class="col-lg-8">

        <!--dog images--> 
        <% if @dog.images.attached? %>
          <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <% @dog.images.each_with_index do |image, index| %>
                <button type="button" data-bs-target="#carouselExampleIndicators" 
                        data-bs-slide-to="<%= index %>" class="active" aria-current="true" 
                        aria-label="Slide <%= index %>"></button>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% @dog.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= image_tag image, class: 'd-block w-100 rounded' %>
                  </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" 
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" 
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
        
        <!--dog info-->
        <% if @dog.adoption %>
          <%= link_to 'Successful Adopter', 
                      profile_review_path(@dog.adoption.adopter_account.adopter_profile.id) %>
        <% end %>
          
        <!--dog info-->
        <div class='row mb-3'>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Age:</h5>
            <h5><%= @dog.age %></h5>
          </div>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Sex:</h5>
            <h5><%= @dog.sex %></h5>
          </div>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Breed:</h5>
            <h5><%= @dog.breed %></h5>
          </div>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Size:</h5>
            <h5> <%= @dog.size %></h5>
          </div>
        </div>

        <h4 style='font-weight: bold;' class='mb-2'>
          About <%= @dog.name %>
        </h4>
        <p style="white-space: pre-line;">
          <%= @dog.description %>
        </p>
      </div> <!--col-->

      <!--button area-->
      <div class="col-lg-4 mx-auto d-flex align-items-center 
                    justify-content-center mt-4">
        <div class="border p-5 rounded text-center">
          <%= link_to 'Edit dog', edit_dog_path(@dog), 
                       class: 'custom-btn-green me-3' %>
          <%= link_to 'Delete', dog_path(@dog), class: 'custom-btn-pink',
                data: 
                      {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete this dog?"
              } %>        
        </div>
      </div> <!--col-->
    </div> <!--row-->
  </div> <!--container-->
</section>
