
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% if @dog.images.attached? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <% @dog.images.each_with_index do |image, index| %>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="active" aria-current="true" aria-label="Slide <%= index %>"></button>
            <% end %>
          </div>
          <div class="carousel-inner">
            <% @dog.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= image_tag image, class: 'd-block w-100' %>
                </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<p>Name: <%= @dog.name %></p>
<p>Age: <%= @dog.age %></p>

<%= link_to 'Edit', edit_dog_path(@dog) %>
<%= link_to 'Delete', dog_path(@dog), class: 'btn',
                data: 
              {
                turbo_method: :delete,
                turbo_confirm: "Click OK to confirm deleting this dog."
              } %>