<%= turbo_frame_tag dom_id(@foster, attribute) do %>
  <%= bootstrap_form_with model: @foster, 
    url: staff_manage_foster_path(@foster) do |form|
  %>
    <%= form.date_field attribute,
      required: true,
      hide_label: true,
      class: "form-control"
    %>
    <div class="d-flex gap-2 flex-wrap">
      <%= form.submit t('general.save'), class: "btn btn-primary" %>
      <%= link_to t('general.cancel'), staff_manage_fosters_path(page: params[:page]),
        class: "btn btn-secondary"
      %>
    </div>
  <% end %>
<% end %>
