<% foster_pets.each do |pet, fosters| %>
  <%# Grid cell %>
  <div class="col-lg-4 col-md-6 p-0">
    <%# Card %>
    <div class="card card-hover m-4" style='overflow: hidden'>
      <%# Card image %>
      <% if pet.images.attached? %>
        <%= image_tag pet.images.first, class: "card-img-top" %>
      <% else %>
        <%= image_tag "coming_soon.jpg", class: "card-img-top" %>
      <% end %>
      <%# Card header %>
      <div class="card-header">
        <h4 class="card-title">
          <%= link_to pet.name, staff_pet_path(pet) %>
        </h4>
      </div>
      <%# Card body %>
      <ul class="list-group list-group-flush">
        <% fosters.each do |foster| %>
          <li class="list-group-item">
            <ul class="list-group list-group-flush d-flex flex-column justify-content-between">
              <li class="list-group-item">
                <span>Fosterer:</span>
                <div>
                  <%= link_to foster.fosterer_name(:last_first),
                    staff_profile_review_path(foster.adopter_foster_profile),
                    class: "link-underline link-underline-opacity-0"
                  %>
                </div>
              </li>
              <li class="list-group-item">
                <div class="badge <%= status_classes(foster.status) %>">
                  <%= foster.status.to_s.titleize %>
                </div>
              </li>
              <li class="list-group-item">
                <span>Start date:</span>
                <%= turbo_frame_tag dom_id(foster, :start_date) do %>
                  <%= link_to foster.start_date.strftime("%m/%d/%Y"),
                    edit_staff_manage_foster_path(foster, page: params[:page])
                  %>
                <% end %>
              </li>
              <li class="list-group-item">
                <span>End date:</span>
                <%= turbo_frame_tag dom_id(foster, :end_date) do %>
                  <%= link_to foster.end_date.strftime("%m/%d/%Y"),
                    edit_staff_manage_foster_path(foster, page: params[:page])
                  %>
                <% end %>
              </li>
              <li class="list-group-item d-flex justify-content-end">
                <%= button_to "Delete",
                  staff_manage_foster_path(foster, page: params[:page]),
                  method: :delete,
                  class: "btn btn-outline-danger",
                  data: {
                    turbo_confirm: "Click OK to delete this foster."
                  }
                %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
