<%= render "components/dashboard/page" do |p| %>
  <% p.header_title "Fosters" %>
  <% p.content do %>
    <section class="pb-5" id="about_us">
      <div class="container">
        <!-- Ransack Search Form -->
        <div class="row p-4 border rounded-5 mb-5 bg-white">
          <div class="col-xl-12">
            <%= search_form_for @q, url: staff_manage_fosters_path do |f| %>
              <div class="row">
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :pet_name_cont, "Pet Name" %>
                  <%= f.search_field :pet_name_cont, class: "form-control", placeholder: "Enter Pet Name" %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :user_name_cont, "Fosterer Name" %>
                  <%= f.search_field :user_name_cont, class: "form-control", placeholder: "Enter Fosterer Name" %>

                </div>
                <% if false %>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :foster_status_eq, "Application Status" %>
                  <%= f.select :foster_status_eq, %i[complete current upcoming], { include_blank: "All" }, class: "form-select" %>
                </div>
                <% end %>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <%= f.submit "Search", class: "btn btn-primary" %>
                  <%= link_to "Clear filters", staff_manage_fosters_path, class: "btn btn-default" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <!-- Search Results -->
        <%= render "search_results" %>

      </div>
    </section>
    <% if false %>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <% end %>
  <% end %>
<% end %>
