<div class="col-lg-4 col-md-6 p-0">
  <%= link_to adoptable_pet_path(pet), class: 'text-decoration-none' do %>
    <div class="card card-hover m-4" style='overflow: hidden'>
      <% image = image_tag('coming_soon.jpg', class: 'card-img-top pet-card') %>
      <% image = image_tag pet.images.first, class: 'card-img-top pet-card' if pet.images.attached? %>

      <%= image %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between">
          <h5 class="card-title text-secondary mb-0">
            <%= pet.name %>
          </h5>
          <div id="adoption-status">
            <%= tag.span("Adoption Pending", class: "badge bg-info") if pet.has_adoption_pending? %>
          </div>
        </li>
        <% li_classes = %w[list-group-item text-secondary] %>
        <%= tag.li("Age: #{time_ago_in_words(pet.birth_date).titleize}", class: li_classes) %>
        <%= tag.li("Breed: #{pet.breed}", class: li_classes) %>
        <%= tag.li("Sex: #{pet.sex}", class: li_classes) %>
        <%= tag.li("Weight range: #{[pet.weight_from, pet.weight_to].join("-")} kg", class: li_classes) %>
        <%= tag.li(pet.description, class: li_classes) %>
      </ul>
    </div>
  <% end %>
</div>