<div class="col-lg-4 col-md-6 p-0">
  <%= link_to adoptable_pet_path(pet), class: 'text-decoration-none' do %>
    <div class="card card-hover m-4" style='overflow: hidden'>
      <div class="position-relative d-inline-block">
        <% image = image_tag('coming_soon.jpg', class: 'card-img-top pet-card') %>
        <% image = image_tag pet.images.first, class: 'card-img-top pet-card' if pet.images.attached? %>
        <%= image %>
        <div id="adoption-status" class="position-absolute top-0 end-0 m-2" style="z-index: 100;">
          <%= tag.span("Adoption Pending", class: "badge bg-info") if pet.has_adoption_pending?%>
          <%= tag.span("Adopted", class: "badge bg-warning") if pet.is_adopted?%>
        </div>
      </div>
  <% end %>

      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <%= link_to adoptable_pet_path(pet), class: 'text-decoration-none' do %>
            <h3 class="card-title text-secondary mb-0">
              <%= pet.name %>
            </h3>
          <% end %>
          <% if current_user&.adopter_foster_account %>
            <div class='text-end' id="like_button_pet_<%= pet.id %>">
              <%= render partial: 'partials/like_button', locals: { pet: pet, like: @likes&.find { |lp| lp.pet_id == pet.id } } %>
            </div>
          <% end %>
        </li>
        <% li_classes = %w[list-group-item text-secondary] %>
        <%= tag.li("Age: #{time_ago_in_words(pet.birth_date).titleize}", class: li_classes) %>
        <%= tag.li("Breed: #{pet.breed}", class: li_classes) %>
        <%= tag.li("Sex: #{pet.sex}", class: li_classes) %>
        <%= tag.li("Weight range: #{[pet.weight_from, pet.weight_to].join("-")} kg", class: li_classes) %>
      </ul>
    </div>
</div>
