<div class="row">
  <div class="col-md-8 mx-auto card p-5 bigger">
    <%= bootstrap_form_with model: pet do |form| %>

      <%= form.hidden_field :organization_id,
                            value: current_user.staff_account.organization_id %>

      <div class='form-group'>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class='form-group d-flex'>
        <div class='me-3'>
          <span class='form-control'>
            <%= form.date_select :birth_date,
                                 start_year: Date.today.year - 20,
                                 end_year: Date.today.year %>
          </span>
        </div>

        <% pet.errors.full_messages_for(:birth_date).each do |message| %>
          <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
        <% end %>
      </div>

      <div class='form-group'>
        <%= form.select :sex,
                        [[t('general.male'), 'male'], [t('general.female'), 'female']],
                        { prompt: t('general.please_select') },
                        class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= form.text_field :breed, class: 'form-control' %>
      </div>

      <div class="form-group mt-3">
        <div class='form-group d-flex'>
          <div class='me-3'>
            <%= form.text_field :weight_from, class: 'form-control', label: 'From weight'  %>
          </div>
          <div class='me-3'>
            <%= form.text_field :weight_to, class: 'form-control', label: 'To weight' %>
          </div>
          <div>
            <%= form.select :weight_unit,
                        Pet::WEIGHT_UNITS,
                        {},
                        class: 'form-control' %>
            <% pet.errors.full_messages_for(:weight_unit).each do |message| %>
              <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class='form-group'>
        <div data-controller='counter'>
          <%= form.text_area :description,
                             data: { action: "input->counter#countExtraLarge",
                                     counter_target: 'input' },
                             class: 'form-control' %>
          <div data-counter-target='output' class='small mt-2 d-flex flex-row-reverse'></div>
        </div>
      </div>

      <div class='form-group'>
        <div class="form-check form-switch">
            <%= form.hidden_field :application_paused, value: false %>
            <%= form.check_box :application_paused, { class: "form-check-input", role: "switch", id: "flexSwitchCheckChecked" }, true, false %>
        </div>
      </div>

      <div class='form-group mt-3'>
        <%= form.file_field :append_images, multiple: true,
                            class: "custom-attachments",
                            label: 'Attach images' %>

        <% pet.errors.full_messages_for(:images).each do |message| %>
          <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
        <% end %>
      </div>

      <div>
        <% if pet.images.attached? %>
          <p><%= t('.uploaded_images') %></p>
          <div class='row row-cols-1 row-cols-lg-5 g-6'>
            <% pet.images.each do |image| %>
              <% if image.created_at %>
                <div class='d-flex flex-column align-items-center'>
                  <%= image_tag image, class: 'uploaded-image rounded mt-2 mb-2' %>
                  <%= link_to t('general.delete'),
                              purge_attachment_path(image),
                              data: { turbo_method: "delete" },
                              class: 'delete-button' %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <%= form.submit t('general.save'), class: 'btn btn-outline-dark mb-3 mt-4' %>

    <% end %>

  </div>
</div> <!--row-->
