<div id=<%= "pet_pause_toggle_#{pet.id}" %>>
  <%= form_with model: pet do |form| %>
    <div class='form-group d-flex justify-content-center'>
      <div class="form-check form-switch">
        <%= form.hidden_field :application_paused, value: false %>
        <%= form.hidden_field :toggle, value: 'true' %>
        <%= form.check_box :application_paused,{ class: "form-check-input",
        role: "switch", id: "flexSwitchCheckChecked", onchange: "this.form.requestSubmit()"}, true, false %>
      </div>
    </div>
  <% end %>
</div>
