<% breadcrumb :dashboard_pet, @pet %>
<%= render "components/dashboard/page" do |p| %>
  <% p.header_title @pet.name %>
  <% p.nav_tabs do %>
    <%= render "components/dashboard/nav_tab", url: pet_path(@pet, active_tab: "overview"), text: "Summary", options: { active: /overview/ } %>
    <%= render "components/dashboard/nav_tab", url: pet_path(@pet, active_tab: "applications"), text: "Tasks", options: { active: /applications/ } %>
  <% end %>
  <% p.content do %>
    <div class="row">
      <!-- from 265 -->
      <div class="col-md-12 col-xl-8 col-12">
        <%= render partial: "organizations/tasks/#{@active_tab}", locals: { pet: @pet } %>
      </div>
      <div class="col-md-12 col-xl-4 col-12">
        <div class="mb-4">
          <div>
            <% if @pet.images.attached? %>
              <%= image_tag @pet.images.first, class: 'rounded card-img-top' %>
            <% else %>
              <%= image_tag('coming_soon.jpg', class: 'rounded card-img-top') %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
