<% breadcrumb :dashboard_pet, @pet %>
<section class="container-fluid p-4">
  <!--page heading-->
  <%= provide(:header_title, @pet.name) %>

  <!-- row  -->
  <div class="row">
    <div class="col-12 mb-4">
      <!-- nav  -->
      <ul class="nav nav-lb-tab">
        <li class="nav-item ms-0 me-3">
          <%= link_to 'Overview', pet_path(@pet, active_tab: 'overview'), class: 'nav-link' + (@active_tab == 'overview' ? ' active' : '') %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Task', pet_path(@pet, active_tab: 'tasks'), class: 'nav-link' + (@active_tab == 'tasks' ? ' active' : '') %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Applications', pet_path(@pet, active_tab: 'applications'), class: 'nav-link' + (@active_tab == 'applications' ? ' active' : '') %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Files', pet_path(@pet, active_tab: 'files'), class: 'nav-link' + (@active_tab == 'files' ? ' active' : '') %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 col-xl-8 col-12">
      <%= render partial: "nice_partials/#{@active_tab}", locals: { pet: @pet } %>
    </div>

 
    <div class="col-md-12 col-xl-4 col-12">
      <!-- card  -->
      <div class="card mb-4 bg-primary border-primary">
        <!-- card body  -->
        <div class="card-body">
          <% if @pet.images.attached? %>
            <%= image_tag @pet.images.first, class: 'card-img-top test' %>
          <% else %>
            <%= image_tag('coming_soon.jpg', class: 'card-img-top test') %>
          <% end %>
        </div>

      </div>
      <div class="card">
        <!-- Card header -->
        <div class="card-header card-header-height d-flex justify-content-between align-items-center">
          <div>
            <h4 class="mb-0">Recent Activity
            </h4>
          </div>
          <div><a href="#">View All</a></div>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <!-- List group -->
          <ul class="list-group list-group-flush list-timeline-activity">
            <li class="list-group-item px-0 pt-0 border-0 pb-6">
              <div class="row position-relative">
                <div class="col-auto">
                  <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                    <i class="fe fe-check"></i>
                  </div>
                </div>
                <div class="col ms-n3">
                  <h4 class="mb-0 h5">Task Finished</h4>
                  <p class="mb-0 text-body">Paula finished figma task</p>


          <div class="border p-3 mt-2 rounded text-center d-flex flex-wrap bigger mb-3">
            <%= bootstrap_form_with model: @pet do |form|%>
              <div data-controller='display'>
                <div class='d-flex form-group' data-display-target='checked'>
                  <p class='me-2'><%= t('.pause_applications') %></p>
                  <%= form.radio_button :application_paused, 
                                        true, 
                                        data: { action: "input->display#show" },
                                        label: 'Yes' %>
                  <%= form.radio_button :application_paused, 
                                        false, 
                                        data: { action: "input->display#hide" },
                                        label: 'No' %>
                </div>
                <div class="col-auto">
                  <span class="text-muted fs-6">2 mins ago</span>

                <div data-display-target='additional' class="d-flex d-none">
                  <%= form.select :pause_reason, 
                                  Pet.app_pause_reasons, 
                                  { selected: @pause_reason, label: "Why" }, 
                                  { class: "form-control"}  %>
                </div>
              </div>
              <%= form.submit t('general.save'), class: 'btn btn-outline-dark mb-3 mt-4' %>
            <% end %>
          
            <li class="list-group-item px-0 pt-0 border-0 pb-6">
              <div class="row position-relative">
                <div class="col-auto">
                  <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                    <i class="fe fe-message-square"></i>
                  </div>
                </div>
                <div class="col ms-n3">
                  <h4 class="mb-0 h5">New Comment</h4>
                  <p class="mb-0 text-body">Georg commented on task.</p>

                </div>
                <div class="col-auto">
                  <span class="text-muted fs-6">1 hour ago</span>

                </div>
              </div>
            </li>
            <li class="list-group-item px-0 pt-0 border-0 pb-6">
              <div class="row position-relative">
                <div class="col-auto">
                  <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                    <i class="fe fe-alert-triangle"></i>
                  </div>
                </div>
                <div class="col ms-n3">
                  <h4 class="mb-0 h5">Task Overdue</h4>
                  <p class="mb-0 text-body">Task <a href="#"><u>status updatd for board</u></a>
                    is overdue.</p>

                </div>
                <div class="col-auto">
                  <span class="text-muted fs-6">1 day</span>

                </div>
              </div>
            </li>
            <li class="list-group-item px-0 pt-0 border-0">
              <div class="row position-relative">
                <div class="col-auto">
                  <div class="icon-shape icon-md bg-light-primary text-primary rounded-circle">
                    <i class="fe fe-mail"></i>
                  </div>
                </div>
                <div class="col ms-n3">
                  <h4 class="mb-0 h5">Update Send to Client</h4>
                  <p class="mb-0 text-body">Jitu send email to update design
                    for client Geeks UI.</p>

                </div>
                <div class="col-auto">
                  <span class="text-muted fs-6">1 day</span>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>