
<section class="pt-5 pb-5" id="adopter_profile">
  <div class="container mb-md-5 mt-md-5">

    <!--page heading-->
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        <%= @adopter_profile.adopter_account.user.first_name %> 
        <%= @adopter_profile.adopter_account.user.last_name %>'s Profile
      </h1>
    </div>

    <!--adopter profile-->
    <div class="row">
      <div class="col-md-10 mx-auto card p-5">

        <!--Administrative Details-->
        <div>
          <h4 class="mb-4 mt-4">Administrative Details</h4>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong>Email</strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_profile.adopter_account.user.email %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong>Phone Number</strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_profile.formatted_phone %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong>Contact Method</strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_profile.contact_method %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong>Country</strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_profile.location.country %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong>Province/State</strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_profile.location.province_state %>
              </p>
            </div>
            <div class="row mb-4 bigger">
              <p class="col-lg-4"><strong>City/Town</strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_profile.location.city_town %>
              </p>
            </div>
        </div>

        <!--Your Lifestyle-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4">Your Lifestyle</h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Your ideal dog</strong></p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_profile.ideal_dog %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Your lifestyle</strong></p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_profile.lifestyle_fit %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong>Activities you will do with your dog</strong>
            </p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_profile.activities %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong>Hours dog will be alone on weekends</strong>
            </p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_profile.alone_weekend %>
            </p>
          </div>
          <div class="row mb-4 bigger">
            <p class="col-lg-4">
              <strong>Hours dog will be alone on week days</strong>
            </p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_profile.alone_weekday %>
            </p>
          </div>
        </div>

        <!--Dog Care-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4">Dog Care</h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Your dog care experience</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.experience %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong>Dog care plans during emergency or vacation</strong>
            </p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.contingency_plan %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong>Will dog care be shared with someone outside household?</strong>
            </p>
            <% if @adopter_profile.shared_ownership == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>

          <% unless @adopter_profile.shared_ownership == false %>
          <div class="row mb-4 bigger">
            <p class="col-lg-4"><strong>Details on shared dog care</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.shared_owner %>
            </p>
          </div>
          <% end %>
        </div>

        <!--Household Information-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4">Household Information</h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Housing type</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.housing_type %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Do you have access to a fenced garden?</strong></p>
            <% if @adopter_profile.fenced_access == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
            <% unless @adopter_profile.fenced_access == true %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Your plan to care for the dog without a fenced garden</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.fenced_alternative %>
            </p>
          </div>
          <% end %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Dog's location during the day</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.location_day %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Dog's location at night</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.location_night %>
            </p>
          </div>

          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Do you rent your home or live on a strata property?</strong></p>
            <% if @adopter_profile.do_you_rent == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
          <% unless @adopter_profile.do_you_rent == false %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Have you confirmed dogs are allowed on the property?</strong></p>
            <% if @adopter_profile.dogs_allowed == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
          <% end %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Number of adults in home (over 18)</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.adults_in_home %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Number of children in home (under 18)</strong></p>
            <% if @adopter_profile.kids_in_home == 0 %>
            <p class="col-lg-6 text-muted">None</p>
            <% else %>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.kids_in_home %>
            </p>
            <% end %>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Do you have pets in your home?</strong></p>
            <% if @adopter_profile.other_pets == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
          <% unless @adopter_profile.other_pets == false %>
          <div class="row mb-4 bigger">
            <p class="col-lg-4"><strong>Description of pets</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.describe_pets %>
            </p>
          </div>
          <% end %>
        </div>

        <!--Additional Information-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4">Additional Information</h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Have you checked your local shelter for adoptable dogs?</strong></p>
            <% if @adopter_profile.checked_shelter == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Have you ever had to surrender a pet?</strong></p>
            <% if @adopter_profile.surrendered_pet == true %>
            <p class="col-lg-6 text-muted">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
          <% unless @adopter_profile.surrendered_pet == false %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Details on surrendering the pet</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.describe_surrender %>
            </p>
          </div>
          <% end %>
          <div class="row mb-4 bigger">
            <p class="col-lg-4"><strong>Your annual cost estimate for dog care</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.annual_cost %>
            </p>
          </div>
            <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>Will you or a friend be in La Ventana in person to pick up the dog?</strong></p>
            <% if @adopter_profile.visit_laventana == true %>
            <p class="col-lg-6 bigger text-danger">Yes</p>
            <% else %>
            <p class="col-lg-6 text-muted">No</p>
            <% end %>
          </div>
          <% unless @adopter_profile.visit_laventana == false %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong>What dates will you be in La Ventana?</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.visit_dates %>
            </p>
          </div>
          <% end %>
          <div class="row mb-4 bigger">
            <p class="col-lg-4"><strong>How did you find out about Baja Pet Rescue?</strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_profile.referral_source %>
            </p>
          </div>

        </div>
      </div> <!--col-->
    </div> <!--row-->

  </div> <!--container-->
</section>






        




