<h3> <%= @adopter_profile.adopter_account.user.first_name %> 
    <%= @adopter_profile.adopter_account.user.last_name %>'s Profile </h3>

<p>Country: <%= @adopter_profile.country %></p>
<p>City: <%= @adopter_profile.city %></p>
<p>Experience: <%= @adopter_profile.experience %></p>

