<!--page heading-->
<%= provide(:header_title, t("dashboard.index.header_title"))  %>

<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-12 col-12">
    <%= render "components/data_card" do |c| %>
      <% c.title "Staff" %>
      <% c.icon "users" %>
      <% c.value @organization.staff_accounts.count %>
    <% end %>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12 col-12">
    <%= render "components/data_card" do |c| %>
      <% c.title "Pets" %>
      <% c.icon "heart" %>
      <% c.value @organization.pets.count %>
    <% end %>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-12 col-12">
    <%= render "components/data_card" do |c| %>
      <% c.title "Applications" %>
      <% c.icon "file-text" %>
      <% c.value "TBD" %>
    <% end %>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-12 col-12">
    <%= render "components/data_card" do |c| %>
      <% c.title "Rescues" %>
      <% c.icon "star" %>
      <% c.value "TBD" %>
    <% end %>
  </div>
</div>
