<%= render DashboardPageComponent.new(crumb: :forms_index) do |c| %>
  <% c.with_header_title { t(".forms") } %>
  <% c.with_action do %>
    <%= link_to t(".create_form"), new_staff_custom_form_form_path, class: "btn btn-primary" %>
  <% end %>
  <% c.with_body do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- card -->
      <div class="card">
        <!-- table -->
        <div class="table-responsive overflow-y-hidden">
          <table class="table mb-0 text-nowrap table-hover table-centered">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <% @forms.each do |form| %>
              <tr>
                <td><%= link_to form.name, staff_custom_form_form_path(form) %></td>
                <td><%= form.description %></td>
                <% if allowed_to?(:manage?, form) %>
                  <td>
                    <div class="text-right">
                      <div class="d-flex align-items-center justify-content-end">
                        <%= link_to t('general.edit'), edit_staff_custom_form_form_path(form), class: 'btn btn-warning m-2' %>
                        <%= link_to t('general.delete'), staff_custom_form_form_path(form), class: 'btn btn-danger m-2', data: { turbo_method: "delete", turbo_confirm: t('.confirm_delete') } %>
                      </div>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
