<%= render DashboardPageComponent.new(crumb: :form, crumb_options: [@form]) do |c| %>
  <% c.with_header_title { @form.name } %>

  <% c.with_action do %>
    <div class="d-flex gap-2">
      <%= link_to t('general.edit'), edit_staff_custom_form_form_path(@form), class: "btn btn-warning" %>
      <%= link_to t('.create_question'), new_staff_custom_form_form_question_path(@form), class: "btn btn-primary" %>
    </div>
  <% end %>

  <% c.with_body do %>
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- card -->
      <div class="card">
        <!-- table -->
        <div class="table-responsive overflow-y-hidden">
          <table class="table mb-0 text-nowrap table-hover table-centered">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <% @form.questions.each do |question| %>
              <tr>
                <td><%= question.name %></td>
                <td><%= question.description %></td>
                <% if allowed_to?(:manage?, question) %>
                  <td>
                    <div class="text-right">
                      <div class="d-flex align-items-center justify-content-end">
                        <%= link_to t('general.edit'), edit_staff_custom_form_form_question_path(@form, question), class: 'btn btn-warning m-2' %>
                        <%= link_to t('general.delete'), staff_custom_form_form_question_path(@form, question), class: 'btn btn-danger m-2', data: { turbo_method: t('general.delete'), turbo_confirm: t('.confirm_delete_question') } %>
                      </div>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
