<section class="py-lg-16 py-5 my-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-xxl-5  col-xl-6 col-lg-6 col-12">
        <div>
          <h1 class="display-2 fw-bold mb-3">Rescue pets in <%= Current.organization.city %> at <u class="text-warning"><span class="text-primary"> <%= Current.organization.name %></span></u></h1>
          <p class="lead mb-4">Rescue a really cute pet and be a hero</p>
          <ul class="list-unstyled mb-5">
            <li class="mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
              </svg>
              <span class="ms-2">Dogs are awesome</span>
            </li>
            <li class="mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
              </svg>
              <span class="ms-2">Cats are awesome</span>
            </li>
            <li class="mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
              </svg>
              <span class="ms-2">Spiders are awesome</span>
            </li>
            <li class="mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="var(--geeks-success)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
              </svg>
              <span class="ms-2">Red pandas are awesome</span>
            </li>
          </ul>
          <%= link_to adoptable_pets_path, class: "btn btn-dark btn-lg" do %>
            Yes! I want to adopt a pet!
          <% end %>
        </div>
      </div>
      <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6 col-12 d-lg-flex justify-content-end">
        <div class="mt-12 mt-lg-0 position-relative">
          <div class="position-absolute top-0 start-0 translate-middle  d-none d-md-block">
            <%= image_tag "svg/graphics-2.svg", alt: "graphics-2" %>
          </div>
          <%= image_tag "danielle_3.jpg", alt: "hero", class: "img-fluid rounded-4 w-100 z-1 position-relative" %>
          <div class="position-absolute top-100 start-100 translate-middle  d-none d-md-block">
            <%= image_tag "svg/graphics-1.svg", alt: "graphics-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- HOW TO APPLY FOR ADOPTION -->
<section class="pt-5 pb-5" id="how_to_apply">
  <div class="container mb-md-5 mt-md-5">

    <!--section heading-->
    <div class="text-center mb-5">
      <h2 class="section-heading text-uppercase underline">
        How to apply for adoption
      </h2>
    </div>

    <div class="row text-center">
      <div class="col-md-3 pb-3">
        <span>
            <%= image_tag('sign_up.svg', width: '100') %>
        </span>
        <h4 class="my-3">1. Create Account</h4>
      </div>
      <div class="col-md-3 pb-3">
        <span>
            <%= image_tag('profile.svg', width: '100') %>
        </span>
        <h4 class="my-3">2. Complete a Profile</h4>
      </div>
      <div class="col-md-3 pb-3">
        <span>
            <%= image_tag('dog.svg', width: '100') %>
        </span>
        <h4 class="my-3">3. Browse pets</h4>
      </div>
      <div class="col-md-3 pb-3">
        <span>
            <%= image_tag('click.svg', width: '100') %>
        </span>
        <h4 class="my-3">4. Click apply</h4>
      </div>
    </div> <!--row-->
  </div> <!--container-->
</section>

<!-- ABOUT US-->
<section class="bg-light pt-5 pb-5" id="about_us">
  <div class="container mb-md-5 mt-md-5">

    <!--section heading-->
    <div class="text-center mb-5">
        <h2 class="section-heading text-uppercase underline">
        About us
        </h2>
    </div>

    <div class="row pb-3">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_2.jpg', 
                    class: 'rounded-5 w-100 px-4 px-lg-0') %>
            </span>
        </div>
        <div class="col-lg-4 px-4 order-last order-lg-0">
            <p class='justify bigger'>
              <%=Current.organization.name %> was founded by an incredible group of ladies in April of 2020. Our initial goal was to have both a rescue and a spay/neuter clinic, however, we quickly realized that it would be more efficient to separate into two organizations.
            </p>
            <br>
            <p class='justify bigger'>
              In January 2021 Baja Pet Rescue decided to refocus its efforts as a rescue organization only, while the spay/neuter effort is run by a different organization. Baja Pet Rescue is currently being run by founder Danielle Gee and a group of wonderful volunteers.
            </p>
            <p class='text-center'>
              <%= link_to 'Read More', about_us_path, class: 'custom-btn-green mt-5 mb-3' %>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 d-none d-md-block mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_3.jpg', class: 'w-100 rounded-5 px-4 px-lg-0') %>
            </span>
        </div>
    </div> <!--row-->
  </div> <!--container-->
</section>

<!--PAGE HIGHLIGHTS-->
<section class="pt-5 pb-5" id="how_to_apply">
  <div class="container mb-md-5 mt-md-5">
    <div class="row text-center">
      <div class="col-md-4 p-3">
        <h3 class="mb-4">
          Process
        </h3>
        <p class='mb-4 bigger'>
          Before applying to adopt a pet it is important you read and understand how our process works.
        </p>
        <p>
          <%= link_to 'Learn more', faq_path, class: 'custom-btn-green' %>
        </p>
      </div>
      <div class="col-md-4 p-3">
        <h3 class="mb-4">
          Partners
        </h3>
        <p class='mb-4 bigger'>
          We have some amazing partners here in La Ventana who help in our pet rescue efforts.
        </p>
        <p>
          <%= link_to 'Learn more', partners_path, class: 'custom-btn-green' %>
        </p>
      </div>
      <div class="col-md-4 p-3">
        <h3 class="mb-4">
          Donate
        </h3>
        <p class='mb-4 bigger'>
          Donations help us to rescue, treat and adopt more pets. Click here to learn how you can donate. 
        </p>
        <p>
          <%= link_to 'Learn more', donate_path, class: 'custom-btn-green' %>
        </p>
      </div>
    </div> <!--row-->
  </div> <!--container-->
</section>

<% unless user_signed_in? %>
  <!-- CTA -->
  <section class="pt-5 pb-5 bg-light" id="cta">
    <div class="container mb-md-5 mt-md-5">
      <div class="row text-center">
        <div class="col-8 offset-2 border p-5 shadow-sm 
                    rounded bg-white">
          <h3 class='mb-4'>Become an adopter now!</h3>
          <%= link_to 'Create Account', new_user_registration_path ,
                      class: 'custom-btn-pink' %>
        </div>
      </div>
    </div> <!--container-->
  </section>
<% end %>

