<section id="hero">
  <div class="bg-image" style="background-image: url('<%= asset_path 'dog-run.png' %>'); background-position: center; background-size: cover;">
    <div class="mask py-lg-16 py-5" style="background-color: rgba(255, 255, 255, 0.8);">
      <div class="container">
        <div class="d-flex row justify-content-center  align-items-center">
          <div class="d-flex justify-content-center">
            <h1 class="display-2 fw-bold mb-1 text-primary "><%= Current.organization.name %></h1>
          </div>
          <div class="d-flex justify-content-center ">
            <p class="lead mb-4 text-black"><%= Current.organization.page_text&.hero || "Where every paw finds a home" %></p>
          </div>
          <div class="d-flex justify-content-center">
          <%= link_to '#', class: "btn btn-dark btn-lg rounded-1 me-2" do %>
              Volunteer
            <% end %>
            <%= link_to adoptable_pets_path, class: "btn btn-primary btn-lg rounded-1 ms-2" do %>
              Donate
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--//? ADOPTION -->
<section class="pt-5 pb-5" id="adopt">
  <div class="container mb-md-5 mt-md-5">

    <!--//? section heading -->
    <div class="text-center mb-5">
      <h2 class="section-heading text-uppercase text-xl">
        Adopt
      </h2>
    </div>
    <!--//? bootstrap cards -->
    <div class="d-flex justify-content-around align-items-center flex-wrap">
      <% @pets.each do |pet| %>
        <%= link_to adoptable_pet_path(pet) do %>
          <div class="card rounded-bottom-0 mb-2" style="width: 14rem;">
            <%= image_tag(pet.images.first, alt: pet.name, class: "card-img-top rounded-top-1", height: "181px") %>
            <div class="card-body">
              <p class="card-text text-black ">
                <%= "Adopt #{pet.name} " %>
                <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512">
                  <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path fill="#5E3FCB" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                </svg>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <!--//? Adopt all link -->
    <div class="d-flex justify-content-end align-items-center mt-3">
      <%= link_to "Browse All Pets", adoptable_pets_path, class: "text-primary fs-3 me-1" %>
      <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#5E3FCB" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
    </div>
  </div>
</section>

<!--//? how to apply section ?//-->
<section id="how-to-apply">
  <div class="container">

    <!--//? section header -->
    <div class="d-flex justify-content-start mb-2">
      <h2 class="section-heading text-uppercase text-xl">
        How to apply for adoption
      </h2>
    </div>

    <!--//? cards section - info (not bootstrap card)  -->
    <div class="d-flex flex-wrap justify-content-around align-items-center px-4">

      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3">
          <%= image_tag('paw-account.svg', width: '150', alt: "Create and account") %>
        </div>
        <div>
          <p class="text-black">
            1. Create Account
          </p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3">
          <%= image_tag('paw-profile.svg', width: '150', alt: "Complete the profile") %>
        </div>
        <div>
          <p class="text-black">
            2. Complete Profile
          </p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3">
          <%= image_tag('paw-browse.svg', width: '150', alt: "Browse the pets") %>
        </div>
        <div>
          <p class="text-black">
            3. Browse Pets
          </p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="mb-3">
          <%= image_tag('paw-click.svg', width: '150', alt: "Click apply") %>
        </div>
        <div>
          <p class="text-black">
            4. Click Apply
          </p>
        </div>
      </div>

    </div>

  </div>
</section>


<!-- ABOUT US-->
<section class="bg-light pt-5 pb-5" id="about_us">
  <div class="container mb-md-5 mt-md-5">

    <!--section heading-->
    <div class="text-center mb-5">
        <h2 class="section-heading text-uppercase underline">
        About us
        </h2>
    </div>

    <div class="row pb-3">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_2.jpg',
                    class: 'rounded-5 w-100 px-4 px-lg-0') %>
            </span>
        </div>
        <div class="col-lg-4 px-4 order-last order-lg-0">
            <p class='justify bigger'>
              <%= Current.organization.page_text&.about || "#{Current.organization.name} was founded by an incredible group of ladies in April of 2020. Our initial goal was to have both a rescue and a spay/neuter clinic, however, we quickly realized that it would be more efficient to separate into two organizations."%>
            </p>
            <p class='text-center'>
              <%= link_to 'Read More', about_us_path, class: 'custom-btn-green mt-5 mb-3' %>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 d-none d-md-block mb-4 mb-lg-0">
            <span>
                <%= image_tag('danielle_3.jpg', class: 'w-100 rounded-5 px-4 px-lg-0') %>
            </span>
        </div>
    </div> <!--row-->
  </div> <!--container-->
</section>

<!--PAGE HIGHLIGHTS-->
<section class="pt-5 pb-5 bg-white" id="how_to_apply">
  <div class="container mb-md-5 mt-md-5">
    <div class="row text-center">
      <div class="col-md-4 p-3">
        <h3 class="mb-4">
          Process
        </h3>
        <p class='mb-4 bigger'>
          Before applying to adopt a pet it is important you read and understand how our process works.
        </p>
        <p>
          <%= link_to 'Learn more', faq_path, class: 'custom-btn-green' %>
        </p>
      </div>
      <div class="col-md-4 p-3">
        <h3 class="mb-4">
          Partners
        </h3>
        <p class='mb-4 bigger'>
          We have some amazing partners here in La Ventana who help in our pet rescue efforts.
        </p>
        <p>
          <%= link_to 'Learn more', partners_path, class: 'custom-btn-green' %>
        </p>
      </div>
      <div class="col-md-4 p-3">
        <h3 class="mb-4">
          Donate
        </h3>
        <p class='mb-4 bigger'>
          Donations help us to rescue, treat and adopt more pets. Click here to learn how you can donate.
        </p>
        <p>
          <%= link_to 'Learn more', donate_path, class: 'custom-btn-green' %>
        </p>
      </div>
    </div> <!--row-->
  </div> <!--container-->
</section>

<% unless user_signed_in? %>
  <!-- CTA -->
  <section class="pt-5 pb-5 bg-light" id="cta">
    <div class="container mb-md-5 mt-md-5">
      <div class="row text-center">
        <div class="col-8 offset-2 border p-5 shadow-sm
                    rounded bg-white">
          <h3 class='mb-4'>Become an adopter now!</h3>
          <%= link_to 'Create Account', new_user_registration_path ,
                      class: 'custom-btn-pink' %>
        </div>
      </div>
    </div> <!--container-->
  </section>
<% end %>
