<%= debug @pets_with_applications %>
<%= render "components/dashboard/page" do |p| %>
  <% p.header_title "Applications" %>
  <% p.content do %>
    <section class="pb-5" id="about_us">
      <div class="container">
        <h5 class="mb-2">Filter by pet name</h5>
        <%= bootstrap_form_with url: '/adopter_applications', method: :get do | f | %>

          <div class="form-group">
            <div class="row mb-2">
              <div class="col-md-4 mb-3">

              </div>
              <div class="col-md-4 mb-3">
                <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
              </div>
            </div> <!--row-->
          </div> 
        <% end %>

        <%= render 'search_results' %>
      </div> <!--container-->
    </section>
  <% end %>
<% end %>
