<!--page heading-->
<%= render "components/adopter_foster_dashboard/page" do |p| %>
  <% p.header_title t("dashboard.index.header_title") %>
  <% p.content do %>
    <div class="row">
      <% unless current_user.adopter_foster_account.adopter_foster_profile.present? %>
        <div class="alert alert-warning ">
          <%= link_to t('organizations.adoptable_pets.show.complete_my_profile'), new_adopter_fosterer_profile_path,
                            class: 'custom-btn-pink' %>
        </div>
      <% end %>

      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <%= render "components/data_card" do |c| %>
          <% c.title "Example" %>
          <% c.icon "users" %>
          <% c.value '5' %>
        <% end %>
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <%= render "components/data_card" do |c| %>
          <% c.title "Pets" %>
          <% c.icon "heart" %>
          <% c.value @organization.pets.count %>
        <% end %>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
         <%= link_to adopter_fosterer_custom_form_submissions_path, class: "card-link" do %>
          <%= render "components/data_card" do |c| %>
            <% c.title "Applications" %> #here erin
            <% c.icon "file-text" %>
            <% c.value @application_count %>
            <% end %>
          <% end %>
      </div>

      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <%= render "components/data_card" do |c| %>
          <% c.title "Rescues" %>
          <% c.icon "star" %>
          <% c.value "TBD" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
