<h5 class="mb-2">Filter by dog name</h5>
    <%= form_with url: '/contacts', method: :get do | f | %>

      <div class="row mb-2">
        <div class="col-md-4 mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control ' %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control ' %>
        </div>

        <div class="col-md-4 mb-3">
          <%= f.label :message %>
          <%= f.text_area :message, class: 'form-control ' %>
        </div>
        
        <div class="col-md-4 mb-3">
          <%= f.submit 'Submit', class: 'btn btn-outline-dark' %>
        </div>
      </div> <!--row-->

    <% end %>