<section class="pt-5 pb-5" id="registration_new">
  <div class="container mb-md-5 mt-md-5 ">

    <!--page heading-->
    <div class="container mb-md-5 mt-md-5">
        <div class="text-center mb-5">
          <h2 class="section-heading text-uppercase underline">
            Contact Us
          </h2>
        </div>
    </div> <!--container-->

    <div class="row">
      <div class="col-md-6 mx-auto card p-5">
        <%= form_with url: '/contacts', method: :get do | f | %>

          <div class="row mb-2">
            <div class="mb-3 form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control ' %>
            </div>

            <div class="mb-3 form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control ' %>
            </div>

            <div class="mb-3 form-group">
              <%= f.label :message %>
              <%= f.text_area :message, class: 'form-control ' %>
            </div>
            
            <div class="mb-3 form-group">
              <%= f.submit 'Submit', class: 'custom-btn-pink' %>
            </div>
          </div> <!--row-->

        <% end %>
      </div>
    </div>
  </div>
</section>