<section class="pt-5 pb-5" id="registration_new">
  <div class="container mb-md-5 mt-md-5 ">
    <!--page heading-->
    <div class="container mb-md-5 mt-md-5">
      <div class="text-center mb-5">
        <h1 class="section-heading text-uppercase underline">
          Contact Us
        </h1>
      </div>
    </div>
 <!--container-->
    <div class='mb-3 text-center bigger'>
      Please refer to the <%= link_to 'FAQ', faq_index_path %> and send us a message
      if you still have questions/comments.
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto card p-5">
        <%= bootstrap_form_with url: contacts_path, scope: :contact, method: :post do | f | %>
          <% if @contact.errors.count > 0 %>
            <div class="alert alert-danger mt-1" role="alert">
              <p>
                Please fix <%= @contact.errors.count %> <%= 'error'.pluralize(@contact.errors.count) %> highlighted below.
              </p>
            </div>
          <% end %>
          <div class="row mb-2">
            <div class="mb-3 form-group">
              <%= f.text_field :name, autofocus: true, 
                                      class: 'form-control', 
                                      required: true %>
              <% @contact.errors.full_messages_for(:name).each do |message| %>
                <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
              <% end %>
            </div>
            <div class="mb-3 form-group">
              <%= f.email_field :email, class: 'form-control', 
                                          required: true %>
              <% @contact.errors.full_messages_for(:email).each do |message| %>
                <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
              <% end %>
            </div>
            <div class="mb-3 form-group" data-controller='counter'>
              <%= f.text_area :message, class: 'form-control', 
                                        data: { action: "input->counter#countLarge", 
                                                counter_target: 'input' },
                                        placeholder: 'Enter your message...',
                                        required: true %>
              <div data-counter-target='output' class='small'></div>
              <% @contact.errors.full_messages_for(:message).each do |message| %>
                <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.submit 'Submit', class: 'btn btn-outline-dark bigger' %>
            </div>
          </div>
 <!--row-->
        <% end %>
      </div>
    </div>
  </div>
</section>
