<script async defer src=<%="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLEAPI']}&region=US&callback=initMap"%> type="text/javascript"></script>

<section class="pt-5 pb-5" id="adopter_profile">
  <div class="container mb-md-5 mt-md-5">
    <div class="text-center mb-5">
      <h1 class="section-heading text-uppercase underline">
        Successes
      </h1>
    </div>
    <div data-controller="google-map" data-action="MapLoaded@window->google-map#initGoogle">
      <ul data-google-map-target="listings" class="coordinates">
        <% @google_map_metadata.each do |location| %>
            <li data-lat="<%= location[:latitude] %>"
                data-lon="<%= location[:longitude] %>"
                data-name="<%= location[:dog_name] %>"
                data-breed="<%= location[:breed] %>"
            >
            </li>
        <% end %>
      </ul>
    <div data-google-map-target="map" class="map container rounded"></div>
  </div>

  <div class="bigger text-center mt-4">
    The <%= Adoption.all.count %> pins on this map represent each dog who has found a new home since the launch of this website in November, 2022. 
  </div>
</section>
