<div id="<%= dom_id faq %>"class="card-body d-flex flex-sm-row flex-column justify-content-between border-bottom">
  <div class="d-flex align-items-center">
    <div>
      <strong class="fs-4" >Q: <%= faq.question %></strong>
      <p class="">A: <%= faq.answer %> </p>
    </div>
  </div>
  <div class="text-right">
    <div class="d-flex align-items-center sm-justify-content-end justify-content-center">
      <%= link_to t('general.edit'), edit_staff_faq_path(faq), class: 'btn btn-warning m-2', data: {turbo_stream: true} %>
      <%= link_to t('general.delete'), staff_faq_path(faq), class: 'btn btn-danger m-2', data: { turbo_method: "delete", turbo_confirm: t('.are_you_sure_delete') } %>
    </div>
  </div>
</div>
