<%= render DashboardPageComponent.new do |c| %>
  <% c.with_header_title { "Applications" } %>
  <% c.with_body do %>
    <section class="pb-5" id="about_us">
      <div class="container">
        <!-- Ransack Search Form -->
        <div class="row p-4 border rounded-5 mb-5 bg-white">
          <div class="col-xl-12">
            <%= search_form_for @q, url: staff_adoption_application_reviews_path do |f| %>
              <div class="row">
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :name_cont, "Pet Name" %>
                  <%= f.text_field :name_i_cont, class: "form-control", placeholder: "Enter Pet Name" %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :adopter_applications_applicant_name_cont, "Applicant Name" %>
                  <%= f.text_field :adopter_applications_applicant_name_i_cont, class: "form-control", placeholder: "Enter Applicant Name" %>
                </div>
                <div class="form-group mb-3 col-md-4">
                  <%= f.label :adopter_applications_status_eq, "Application Status" %>
                  <%= f.select :adopter_applications_status_eq, AdopterApplication.statuses.keys.map { |status| [status.titleize, status] }, { include_blank: 'All' }, class: "form-select" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <%= f.submit "Search", class: "btn btn-primary" %>
                  <%= link_to "Clear filters", staff_adoption_application_reviews_path, class: "btn btn-default" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-2">
          <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
        </div>

        <!-- Search Results -->
        <%= render 'search_results' %>

      </div> <!-- Container -->
    </section>
    <div class="d-flex justify-content-center align-items-center mt-2">
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  <% end %>
<% end %>
