<% if @dog.nil?%>

  <% @dogs.each do |dog| %>
    <%= link_to dog.name, dog_path(dog) %>
    
    <div class='card'>
      <% dog.adopter_applications.each do |app|%>
      <p>Application Status: <%= app.status %></p>
      <p>Applicant Profile: <%= link_to 'Adopter Profile', profile_review_path(app.adopter_account.adopter_profile.id) %>
      <%= link_to 'Edit Application', edit_adopter_application_path(app.id) %>
      <p>Notes:<%= app.notes %></p>
      <% end %>
    </div>
  <% end %>

<% else %>

  <%= link_to @dog.name, dog_path(@dog) %>
    
    <div class='card'>
      <% @dog.adopter_applications.each do |app|%>
      <p>Application Status: <%= app.status%></p>
      <p>Applicant Profile: <%= link_to 'Adopter Profile', profile_review_path(app.adopter_account.adopter_profile.id) %>
      <%= link_to 'Edit Application', edit_adopter_application_path(app.id) %>
      <p>Notes:<%= app.notes %></p>
      <% end %>
    </div>

<% end %>
