<p>Name: <%= @application.adopter_account.user.first_name %>
         <%= @application.adopter_account.user.last_name %> </p>

<%= link_to 'Adopter Profile', profile_review_path(@application.adopter_account.adopter_profile.id) %>

<%= form_with model: @application, :url => adopter_application_path do |form| %>
  <%= form.label :status %>
  <p class='fw-bold'><%#= @application.status %></p>
  <%= form.select(:status, AdopterApplication.app_review_statuses) %>
  
  <%= form.label :notes %><br>
  <%= form.text_area :notes %><br>

  <%= form.submit %>
<% end %>
