<div id="<%= dom_id checklist_template_item %>">
  <p>
    <strong>Checklist template:</strong>
    <%= checklist_template_item.checklist_template_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= checklist_template_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= checklist_template_item.description %>
  </p>

  <p>
    <strong>Expected duration days:</strong>
    <%= checklist_template_item.expected_duration_days %>
  </p>

  <p>
    <strong>Required:</strong>
    <%= checklist_template_item.required %>
  </p>

</div>
