<p style="color: green"><%= notice %></p>

<%= render @checklist_template_item %>

<div>
  <%= link_to "Edit this checklist template item", edit_checklist_template_item_path(@checklist_template_item) %> |
  <%= link_to "Back to checklist template items", checklist_template_items_path %>

  <%= button_to "Destroy this checklist template item", @checklist_template_item, method: :delete %>
</div>
