<%= render "components/container" do %>
  <%= render "components/header", pretitle: "Browse", title: "Adoptable Pets" %>

  <%= render "components/page_content" do |c| %>
    <% c.content do %>
      <div class="row">
        <% @pets.each do |pet| %>    
          <div class="col-lg-4 col-md-6 p-0">
            <%= link_to adoptable_pet_path(pet), class: 'text-decoration-none' do %>
              <div class="card m-4">
                <% if pet.images.attached? %>
                  <%= image_tag pet.images.first, class: 'card-img-top' %>
                <% else %>
                  <%= image_tag('coming_soon.jpg', class: 'card-img-top') %>
                <% end %>
                <div class="card-body">
                  <h3 class="card-title">
                    <% if pet.has_adoption_pending? %>
                      <%= pet.name %> (Adoption Pending)
                    <% else %>
                      <%= pet.name %>
                    <% end %>
                  </h3>
                  <p class="card-text m-0 bigger">
                  Age: <%= "#{pet.age}" " #{pet.age_unit}" %>
                  </p>
                  <p class="card-text bigger">
                  Breed: <%= pet.breed %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
