<!--page heading-->
<header class="pt-5 pb-5" >
  <div class="container">
      <div class="text-center">
        <h1 class="section-heading text-uppercase underline">
          Up for adoption
        </h1>
      </div>
  </div> <!--container-->
</header>

<!--pet tiles-->
<section class="pb-5" id="adoptable_pets">
  <div class="container">
    <div class="row">
      <% @pets.each do |pet| %>    
        <div class="col-lg-4 col-md-6 p-0">
          <%= link_to adoptable_pet_path(pet), class: 'text-decoration-none' do %>
            <div class="card m-4">
              <% if pet.images.attached? %>
                <%= image_tag pet.images.first, class: 'card-img-top' %>
              <% else %>
                <%= image_tag('coming_soon.jpg', class: 'card-img-top') %>
              <% end %>
              <div class="card-body">
                  <h3 class="card-title">
                    <% if pet.has_adoption_pending? %>
                      <%= pet.name %> (Adoption Pending)
                    <% else %>
                      <%= pet.name %>
                    <% end %>
                  </h3>
                <p class="card-text m-0 bigger">
                  Age: <%= time_ago_in_words(pet.birth_date) %>
                </p>
                <p class="card-text bigger">
                  Breed: <%= pet.breed %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div> <!--container-->
</section>