<header class="pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        <% if @pet.has_adoption_pending? %>
          <%= "#{@pet.name} #{t('general.adoption_pending')}" %>
        <% else %>
          <%= @pet.name %>
        <% end %>
      </h1>
    </div>
  </div> <!--container-->
</header>

<!--pet tile-->
<section class="pb-5" id="adoptable_pets_show">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <!--pet images-->
        <% if @pet.images.attached? %>
          <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <% @pet.images.each_with_index do |image, index| %>
                <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"
                        aria-current="true" aria-label="Slide <%= index %>"></button>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% @pet.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= image_tag image, class: 'd-block' %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>

        <div class='row mb-3'>
          <div class='col-md-2 mb-1'>
            <h5 style='font-weight: bold;'><%= t('general.age') %>:</h5>
            <h5><%= time_ago_in_words(@pet.birth_date) %></h5>
          </div>
          <div class='col-md-2 mb-1'>
            <h5 style='font-weight: bold;'><%= t('general.sex') %>:</h5>
            <h5><%= @pet.sex %></h5>
          </div>
          <div class='col-md-4 mb-1'>
            <h5 style='font-weight: bold;'><%= t('general.breed') %>:</h5>
            <h5><%= @pet.breed %></h5>
          </div>
          <div class='col-md-4 mb-1'>
            <h5 style='font-weight: bold;'><%= t('general.weight') %>:</h5>
            <h5> <%= @pet.weight_from %> to <%= @pet.weight_to %> <%= @pet.weight_unit %></h5>
          </div>
        </div>

        <h4 style='font-weight: bold;' class="">
          <%= "#{t('general.about')} #{@pet.name}" %>
        </h4>
        <p class='bigger' style="white-space: pre-line;">
          <%= @pet.description %>
        </p>
      </div>

      <div class=' col-lg-4 ps-3 pe-3 ps-lg-0 pe-lg-0'>
        <div class=' border p-5 rounded
                    d-flex flex-column justify-content-between'>
          <div>
            <h4>
              <%= t('.adoption_process') %>
            </h4>
            <p class='mb-3 bigger'>
              <%= t('.please_read_faq_html') %>
            </p>
            <p class='bigger'><%= t('.please_know_that') %>:</p>
            <ul class='bigger'>
              <%= t('.please_know_that_items_html') %>
            </ul>

            <p class='mt-3 bigger'><%= t('.after_you_adopt') %>:</p>
            <ul class='bigger'>
              <%= t('.after_you_adopt_items_html') %>
            </ul>
          </div>

          <div class='text-center d-flex flex-column align-items-center mt-1'>
            <% unless user_signed_in? && current_user.staff_account %>
              <% if user_signed_in? %>
                <% if current_user.adopter_account && current_user.adopter_account.adopter_profile %>
                  <% if AdopterApplication.adoption_exists?(current_user.adopter_account.id, @pet.id) %>
                    <div class='d-flex align-items-center mt-3'>
                      <h4 class="me-2">
                        <%= "#{t(".status." + @adoption_application.status) || t('.status.default')}" %>
                      </h4>
                      <% if %w[under_review adoption_pending].include?(@adoption_application.status) %>
                        <%= image_tag('pause.png', height: '21') %>
                      <% elsif 'withdrawn' == @adoption_application.status %>
                        <%= image_tag('red_no.png', height: '21') %>
                      <% else %>
                        <%= image_tag('green_check.png', height: '21') %>
                      <% end %>
                    </div>
                  <% elsif @pet.application_paused == true %>
                    <div class='d-flex align-items-center mt-3'>
                      <h3 class="me-2 text-danger">
                        <%= t(".pause_reason." + @pet.pause_reason) %>
                      </h3>
                    </div>
                  <% else %>
                    <h4 class="mb-4 mt-3">In love with this pooch?</h4>
                    <%= button_to t('.apply_to_adopt'),
                                  create_my_application_path(application: {
                                    pet_id: @pet.id,
                                    adopter_account_id: current_user.adopter_account.id }),

                                  class: 'custom-btn-pink' %>
                  <% end %>
                <% elsif current_user.adopter_account %>
                  <h4 class='mb-4 mt-3'>
                    <%= t('.complete_your_profile') %>
                  </h4>
                  <%= link_to t('.complete_my_profile'), new_profile_path,
                              class: 'custom-btn-pink' %>
                <% end %>
              <% else %>
                <h4 class="mb-4 mt-3">
                  <%= t('.create_an_account') %>
                </h4>
                <%= link_to t('.adopt'), new_user_registration_path,
                            class: 'custom-btn-pink mb-2' %>
                <p>
                  <%= link_to t('.login'), new_user_session_path %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
