<header class="pt-5 pb-5">
  <div class="row align-items-center">
    <!-- Pet Info -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="pt-16 rounded-top-md bg-gray-200"></div>
      <div class="d-flex align-items-center justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom-md shadow-sm">
        <div class="d-flex align-items-center">
          <div class="me-2 position-relative d-flex justify-content-end align-items-end mt-n5">
            <% if @pet.images.attached? %>
              <%= image_tag @pet.images.first, class: 'avatar-xl rounded-circle border border-4 border-white' %>
            <% end %>
          </div>
          <div class="lh-1">
            <h2 class="mb-0"><%= @pet.name %></h2>
            <% if @pet.has_adoption_pending? %>
              <p class="mb-0 d-block"><%= t('general.adoption_pending') %></p>
            <% end %>
          </div>
        </div>
        <div>
          <%= link_to 'Become an adopter', new_user_registration_path, class: 'btn btn-primary btn-sm d-none d-md-block' %>
        </div>
      </div>
    </div>
  </div>
</header>

<!--pet tile-->
<section class="pb-5" id="adoptable_pets_show">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <!--pet images-->
        <% if @pet.images.attached? %>
          <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <% @pet.images.each_with_index do |image, index| %>
                <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"
                        aria-current="true" aria-label="Slide <%= index %>"></button>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% @pet.images.each_with_index do |image, index| %>
                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= image_tag image, class: 'd-block w-100' %>
                </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>

        <%= render partial: "partials/pet_card_bigger", pet: @pet %>
      </div>

      <div class=' col-lg-6 ps-3 pe-3 ps-lg-0 pe-lg-0'>
        <div class=' border p-5 rounded d-flex flex-column justify-content-between'>
          <div>
            <div class="row">
              <!-- heading -->
              <span class="text-uppercase text-primary fw-semibold ls-md"><%= t('.adoption_process') %></span>
              <!-- para -->
              <p class="fs-3  mb-5"><%= t('.please_read_faq_html') %></p>
            </div>

            <div class=" row align-items-center ">
              <div class="mb-6">
                <h3 class="mb-3 fw-bold"><%= t('.please_know_that') %></h3>
                <p class="mb-0 fs-4 ">
                <ul><%= t('.please_know_that_items_html') %></ul>
                </p>
              </div>
              <!-- content -->
              <div class="mb-6">
                <h3 class="mb-3 fw-bold"><%= t('.after_you_adopt') %></h3>
                <p class="mb-0 fs-4 ">
                <ul><%= t('.after_you_adopt_items_html') %></ul>
                </p>
              </div>
            </div>

          </div>

          <div class='text-center d-flex flex-column align-items-center mt-1'>
            <% unless user_signed_in? && current_user.staff_account %>
              <% if user_signed_in? %>
                <% if current_user.adopter_account && current_user.adopter_account.adopter_profile %>
                  <% if AdopterApplication.adoption_exists?(current_user.adopter_account.id, @pet.id) %>
                    <div class='d-flex align-items-center mt-3'>
                      <h4 class="me-2">
                        <%= "#{t(".status." + @adoption_application.status) || t('.status.default')}" %>
                      </h4>
                      <% if %w[under_review adoption_pending].include?(@adoption_application.status) %>
                        <%= image_tag('pause.png', height: '21') %>
                      <% elsif 'withdrawn' == @adoption_application.status %>
                        <%= image_tag('red_no.png', height: '21') %>
                      <% else %>
                        <%= image_tag('green_check.png', height: '21') %>
                      <% end %>
                    </div>
                  <% elsif @pet.application_paused == true %>
                    <div class='d-flex align-items-center mt-3'>
                      <h3 class="me-2 text-danger">
                        <%= t(".pause_reason." + @pet.pause_reason) %>
                      </h3>
                    </div>
                  <% else %>
                    <h4 class="mb-4 mt-3">In love with this pooch?</h4>
                    <%= button_to t('.apply_to_adopt'),
                                  create_my_application_path(application: {
                                    pet_id: @pet.id,
                                    adopter_account_id: current_user.adopter_account.id}),

                                  class: 'custom-btn-pink' %>
                  <% end %>
                <% elsif current_user.adopter_account %>
                  <h4 class='mb-4 mt-3'>
                    <%= t('.complete_your_profile') %>
                  </h4>
                  <%= link_to t('.complete_my_profile'), new_profile_path,
                              class: 'custom-btn-pink' %>
                <% end %>
              <% else %>
                <h4 class="mb-4 mt-3">
                  <%= t('.create_an_account') %>
                </h4>
                <%= link_to t('.adopt'), new_user_registration_path,
                            class: 'custom-btn-pink mb-2' %>
                <p>
                  <%= link_to t('.login'), new_user_session_path %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
