<%= render "components/container" do %>

  <!-- HEADER -->
  <% nav_items = [
    { label: "Overview", url: adoptable_pet_path(@pet) },
    { label: "Applications", url: "/applications" },
    { label: "ToDos", url: "/todos" },
    { label: "Files", url: "/files" },
    { label: "Timeline", url: "/timeline" },
  ] %>
<%= render "components/header", pretitle: @pet.breed, title: @pet.name, nav_items: nav_items %>

<!-- CONTENT -->
<%= render "components/page_content" do |c| %>

  <% c.content do %>
    <div class='row'>

      <div class="col-12 col-xl-8">
        <%= render 'components/card', title: "Chat", icon: "chat" do |c| %>
        <% end %>
      </div>

      <div class="col-12 col-xl-4">
        <%= render 'components/card', title: "About #{@pet.name}", icon: "check-circle" do |c| %>
        <% end %>

        <!-- Card -->
        <%= render 'components/card', title: "ToDos", icon: "check-circle" do |c| %>
        <% end %>

        <%= render 'components/card', title: "Files", icon: "files" do |c| %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
