<!--page heading-->
<header class="pt-5 pb-5">
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        <%= t('.adopter_foster_profile') %>
      </h1>
    </div>
  </div> <!--container-->
</header>

<!--main section-->
<!--my applications-->
<section class="pb-5" id="adopter_foster_profile">
  <div class="container">
    <!--adopter profile-->
    <div class="row">
      <div class="col-md-10 card p-5 mx-auto">
        <div class="d-flex gap-4 justify-content-between">
            <h2><%= current_user.first_name %>'s Profile</h2>
            <%= link_to t('.edit_profile'), edit_adopter_fosterer_profile_path, class: 'btn btn-outline-dark' %>
        </div>

        <!--Administrative Details-->
        <div>
          <h4 class="mb-4 mt-4">Contact</h4>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong><%= t('.phone_number') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.formatted_phone %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong><%= t('.contact_method') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.contact_method %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong><%= t('.country') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.location.country %>
              </p>
            </div>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong><%= t('.province_slash_state') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.location.province_state %>
              </p>
            </div>
            <div class="row mb-4 bigger">
              <p class="col-lg-4"><strong><%= t('.city_slash_town') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.location.city_town %>
              </p>
            </div>
        </div>

        <!--Your Lifestyle-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4"><%= t('.lifestyle') %></h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.your_ideal_pet') %></strong></p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.ideal_pet %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.your_lifestyle') %></strong></p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.lifestyle_fit %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong><%= t('.activities') %></strong>
            </p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.activities %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong><%= t('.hours_alone_on_weekends') %></strong>
            </p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.alone_weekend %>
            </p>
          </div>
          <div class="row mb-4 bigger">
            <p class="col-lg-4">
              <strong><%= t('.hours_alone_on_weekdays') %></strong>
            </p>
             <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.alone_weekday %>
            </p>
          </div>
        </div>

        <!--Pet Care-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4"><%= t('.pet_care') %></h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.your_petcare_experience') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.experience %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong><%= t('.petcare_plans_during_emergency_or_vacation') %></strong>
            </p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.contingency_plan %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4">
              <strong><%= t('.will_petcare_be_shared') %></strong>
            </p>
            <% if @adopter_foster_profile.shared_ownership %>
              <p class="col-lg-6 text-muted"><%= t('.general.yes') %></p>
            <% else %>
              <p class="col-lg-6 text-muted"><%= t('.general.no') %></p>
            <% end %>
          </div>

          <% if @adopter_foster_profile.shared_ownership %>
            <div class="row mb-4 bigger">
              <p class="col-lg-4"><strong><%= t('.details_on_petcare') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.shared_owner %>
              </p>
            </div>
          <% end %>
        </div>

        <!--Household Information-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4"><%= t('.household') %>></h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Housing type') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.housing_type %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Do you have access to a fenced garden?') %></strong></p>
            <% if @adopter_foster_profile.fenced_access %>
              <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
              <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <% unless @adopter_foster_profile.fenced_access %>
            <div class="row mb-3 bigger">
              <p class="col-lg-4"><strong><%= t('.your_plan_to_care') %></strong></p>
              <p class="col-lg-6 text-muted">
                <%= @adopter_foster_profile.fenced_alternative %>
              </p>
            </div>
          <% end %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.pets_location_during_the_day') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.location_day %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.pets_location_at_night') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.location_night %>
            </p>
          </div>

          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Do you rent your home or live on a strata property?') %></strong></p>
            <% if @adopter_foster_profile.do_you_rent %>
            <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
            <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <% if @adopter_foster_profile.do_you_rent %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Have you confirmed pets are allowed on the property?') %></strong></p>
            <% if @adopter_foster_profile.pets_allowed %>
            <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
            <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <% end %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Number of adults in home (over 18)') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.adults_in_home %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Number of children in home (under 18)') %></strong></p>
            <% if @adopter_foster_profile.kids_in_home == 0 %>
            <p class="col-lg-6 text-muted"><%= t('general.none') %></p>
            <% else %>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.kids_in_home %>
            </p>
            <% end %>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.Do you have pets in your home?') %></strong></p>
            <% if @adopter_foster_profile.other_pets %>
            <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
            <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <% if @adopter_foster_profile.other_pets %>
            <div class="row mb-4 bigger">
              <p class="col-lg-4"><strong><%= t('.Description of pets') %></strong></p>
              <p class="col-lg-6 text-muted" style="white-space: pre-line;">
                <%= @adopter_foster_profile.describe_pets %>
              </p>
            </div>
          <% end %>
        </div>

        <!--Additional Information-->
        <div>
          <hr>
          <h4 class="mb-4 mt-4"><%= t('.additional_details') %></h4>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.have_you_checked') %></strong></p>
            <% if @adopter_foster_profile.checked_shelter %>
            <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
            <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.have_you_had_to_surrender') %></strong></p>
            <% if @adopter_foster_profile.surrendered_pet %>
            <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
            <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <% if @adopter_foster_profile.surrendered_pet %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.details_on_surrender') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.describe_surrender %>
            </p>
          </div>
          <% end %>
          <div class="row mb-4 bigger">
            <p class="col-lg-4"><strong><%= t('.your_annual_cost') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.annual_cost %>
            </p>
          </div>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.will_you_pick_up_the_pet') %></strong></p>
            <% if @adopter_foster_profile.visit_laventana %>
            <p class="col-lg-6 text-muted"><%= t('general.yes') %></p>
            <% else %>
            <p class="col-lg-6 text-muted"><%= t('general.no') %></p>
            <% end %>
          </div>
          <% if @adopter_foster_profile.visit_laventana %>
          <div class="row mb-3 bigger">
            <p class="col-lg-4"><strong><%= t('.what_dates_will_you_be') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.visit_dates %>
            </p>
          </div>
          <% end %>
          <div class="row mb-4 bigger">
            <p class="col-lg-4"><strong><%= t('.how_did_you_hear') %></strong></p>
            <p class="col-lg-6 text-muted">
              <%= @adopter_foster_profile.referral_source %>
            </p>
          </div>
        </div>
      </div> <!--col-->
    </div> <!--row-->

  </div> <!--container-->
</section>



