<section class="bg-light py-lg-16 py-5 my-5 ">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-xxl-5  col-xl-6 col-lg-6 col-12">
      <div class="row d-flex align-items-center justify-content-center">
      <div class="col-9">
        <h1 class="display-2 fw-bold mb-3 text-center text-sm-start", style= 'color: #000000;'>
          <%= t('.title') + " " %><span class="text-primary"><%= t('.pet') %></span>
        </h1>
        <p class="lead mb-8 w-100 text-center text-sm-start mx-auto mx-sm-0">
          <%= t('.description') %>
        </p>
        <div class="text-center">
          <a href="#!" class="btn btn-primary btn-lg mb-2 px-8"><%= t('.btn_title') %></a>
          <small class = "d-block" style="color: #585858;"><%= t('.btn_subtitle')%></small>
        </div>
      </div>
    </div>
      </div>
      <div class="col-xxl-5  col-xl-6 col-lg-6 col-12">
        <div class="mt-12 mt-lg-0 d-flex justify-content-center align-items-center">
          <%= image_tag "hero_2.png", alt: "hero", class: "img-fluid w-100"%>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-4 shadow-sm">
    <div class="container">
        <div class="row pb-6">
            <div class="col-lg-4 col-12">
                <div class="d-flex">
                    <div class="mb-4 ms-4">
                        <h2 class="mb-2 h1 fw-semibold text-center text-dark"><%= t('.free')%></h3>
                        <p class="mb-0 text-center" style = "color: #373737;"><%= t('.free_description')%></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="d-flex">
                    <div class="mb-4 ms-4">
                        <h2 class="mb-2 h1 fw-semibold text-center text-dark"><%= t('.easy')%></h3>
                        <p class="mb-0 text-center" style = "color: #373737;"><%= t('.easy_description')%></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="d-flex">
                    <div class="mb-4 ms-4">
                        <h2 class="mb-2 h1 fw-semibold text-center text-dark"><%= t('.personalized')%></h3>
                        <p class="mb-0 text-center" style = "color: #373737;"><%= t('.personalized_description')%></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-white pb-lg-12 py-5 shadow-sm">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-12 px-lg-8 mb-8 mt-6">
                <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.website')%></h2>
                <p class="fs-3 text-center text-dark"><%= t('.website_description')%></p>
            </div>
            <div class="col-12">
                <div class="mt-12 mt-lg-0 d-flex justify-content-center align-items-center">
                    <%= image_tag "website.png", alt: "website_image", class: "img-fluid w-100" %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light py-lg-8">
  <div class="container">
    <div class = "row d-flex align-items-center justify-content-center">
        <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.keep_track')%></h2>
        <p class="fs-3 text-center text-dark"><%= t('.common_description')%></p>
    </div>
    <div class = "mt-10 column d-flex align-items-center justify-content-center">
        <div class = "col-5" style="padding-left: 130px;" >
            <ul class="list-unstyled">
                <li class="d-flex mb-4 ">
                    <div class="vr me-3" style="color: black;"></div>
                    <div>
                        <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.easily_set')%></h4>
                    </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5" style = "color: #373737;"><%= t('.add_notes')%></h4>
                    <p class="mb-0" style = "color: #373737;"><%= t('.add_notes_description')%></p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.filter')%></h4>
                </div>
                </li>
            </ul>
        </div>
        <div class = "col-5" style="padding-right: 130px;">
            <%= image_tag "layout_graphic.png", alt: "screen_1", class: "img-fluid w-100 h-25 "%>
        </div>
    </div>
  </div>
</section>


<section class="bg-light py-lg-8">
  <div class="container">
    <div class = "row d-flex align-items-center justify-content-center">
        <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.handle_adoption')%></h2>
        <p class="fs-3 text-center text-dark"><%= t('.common_description')%></p>
    </div>
    <div class = "mt-10 column d-flex align-items-center justify-content-center">
        <div class = "col-5" style="padding-left: 130px;">
            <%= image_tag "layout_graphic_2.png", alt: "screen_2", class: "img-fluid w-100 h-25"%>
        </div>
        <div class = "col-5" style="padding-right: 130px;" >
            <ul class="list-unstyled">
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.easily_set')%></h4>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5" style = "color: #373737;"><%= t('.add_notes')%></h4>
                    <p class="mb-0" style = "color: #373737;"><%= t('.add_notes_description')%></p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.filter')%></h4>
                </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>


<section class="bg-light py-lg-8">
  <div class="container">
    <div class = "row d-flex align-items-center justify-content-center">
        <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.take_complexity')%></h2>
        <p class="fs-3 text-center text-dark"><%= t('.common_description')%></p>
    </div>
    <div class = "mt-10 column d-flex align-items-center justify-content-center">
        <div class = "col-5" style="padding-left: 130px;" >
            <ul class="list-unstyled">
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%=t('.see_status')%></h4>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5" style = "color: #373737;"><%= t('.easily_edit')%></h4>
                    <p class="mb-0" style = "color: #373737;"><%= t('.add_notes_description') %></p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.quickly_search')%></h4>
                </div>
                </li>
            </ul>
        </div>
        <div class = "col-5" style="padding-right: 130px;">
            <%= image_tag "layout_graphic_3.png", alt: "screen_3", class: "img-fluid w-100 h-25"%>
        </div>
    </div>
  </div>
</section>

<section class="bg-light py-lg-8">
  <div class="container">
    <div class = "row d-flex align-items-center justify-content-center">
        <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.manage_adoster')%></h2>
        <p class="fs-3 text-center text-dark"><%= t('.manage_adoster_description')%></p>
    </div>
    <div class = "mt-10 column d-flex align-items-center justify-content-center">
        <div class = "col-5" style="padding-left: 130px;">
            <%= image_tag "layout_graphic_2.png", alt: "hero", class: "img-fluid w-100 h-25"%>
        </div>
        <div class = "col-5" style="padding-right: 130px;" >
            <ul class="list-unstyled">
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.easily_set')%></h4>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5" style = "color: #373737;"><%= t('.add_notes')%></h4>
                    <p class="mb-0" style = "color: #373737;"><%= t('.add_notes_description')%></p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.filter')%></h4>
                </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>

<section class="bg-light py-lg-8">
  <div class="container">
    <div class = "row d-flex align-items-center justify-content-center">
        <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.create_account')%></h2>
        <p class="fs-3 text-center text-dark"><%= t('.create_account_description')%></p>
    </div>
    <div class = "mt-10 column d-flex align-items-center justify-content-center">
        <div class = "col-5" style="padding-left: 130px;" >
            <ul class="list-unstyled">
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.see_status')%></h4>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5" style = "color: #373737;"><%= t('.easily_edit')%></h4>
                    <p class="mb-0" style = "color: #373737;"><%= t('.add_notes_description')%></p>
                </div>
                </li>
                <li class="d-flex mb-4">
                <div class="vr me-3" style="color: black;"></div>
                <div>
                    <h4 class="fs-5 mb-0" style = "color: #373737;"><%= t('.quickly_search') %></h4>
                </div>
                </li>
            </ul>
        </div>
        <div class = "col-5" style="padding-right: 130px;">
            <%= image_tag "layout_graphic_3.png", alt: "screen_3", class: "img-fluid w-100 h-25"%>
        </div>
    </div>
  </div>
</section>

<section class="bg-light py-lg-8">
  <div class="container">
    <div class = "row d-flex align-items-center justify-content-center">
        <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.give_ur_furr_ball')%></h2>
        <p class="fs-3 text-center text-dark" style="padding-left: 290px; padding-right: 290px;"><%= t('.give_ur_furr_ball_description')%></p>
    </div>
    <div class = "mt-10 column d-flex flex-column align-items-center justify-content-center">
        <div class = "col-7">
            <%= image_tag "layout_graphic_5.png", alt: "screen_4", class: "img-fluid rounded shadow-lg bg-body w-100 h-25"%>
        </div>
        <div class = "col-5 text-center mt-5">
            <a href="#!" class="btn btn-primary btn-lg px-6"><%= t('.btn_title') %></a>
        </div>
    </div>
  </div>
</section>

<section class="bg-light py-lg-8">
    <div class = "container">
        <div class = "row d-flex align-items-center justify-content-center">
            <h3 class="fs-2 fw-bold mt-3 mb-2 text-center text-dark"><%= t('.learn_more_about')%></h2>
            <p class="fs-3 text-center text-dark" style="padding-left: 290px; padding-right: 290px;"><%= t('.learn_more_about_description')%></p>
        </div>  
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center mt-4 flex-nowrap overflow-auto">
                <div class="col-auto">
                <%= image_tag "icon_1.png", alt: "Human Essentials", class: "img-fluid", style: "max-width: 75px;" %>
                </div>
                <div class="col-auto">
                <%= image_tag "icon_2.png", alt: "Human Essentials app", class: "img-fluid", style: "max-width: 170px;" %>
                </div>
                <div class="col-auto">
                <%= image_tag "icon_3.png", alt: "Casa Volunteer Tracking", class: "img-fluid", style: "max-width: 170px;" %>
                </div>
                <div class="col-auto">
                <%= image_tag "icon_4.png", alt: "Heart icon", class: "img-fluid", style: "max-width: 75px;" %>
                </div>
                <div class="col-auto">
                <%= image_tag "icon_5.png", alt: "Refuge Restrooms", class: "img-fluid", style: "max-width: 125px;" %>
                </div>
                <div class="col-auto">
                <%= image_tag "icon_6.png", alt: "Tree icon", class: "img-fluid", style: "max-width: 75px;" %>
                </div>
                <div class="col-auto">
                <%= image_tag "icon_7.png", alt: "Tool Library", class: "img-fluid", style: "max-width: 75px;" %>
                </div>
            </div>
        </div>
        <div class = "mt-5 column d-flex flex-column align-items-center justify-content-center">
            <a href="#!" class="btn btn-outline-secondary px-8 mb-2 text-primary"><%= t('.learn_more_about')%></a>
        </div>
    </div>
</section>