<h1>Congrats on <%= @pet.name %>'s adoption!</h1>

<% if @assignments.one? %>
  <p>Hope everything's going well! This is just a reminder on a task for <%= @pet.name %>.</p>

  <%= render partial: 'match_mailer/checklist_assignment', locals: { assignment: @assignments.first } %>

<% else %>
  <p>This is just a reminder on tasks for <%= @pet.name %>.</p>

  <ul>
    <% @assignments.each do |assignment| %>
      <li>
        <%= render partial: 'match_mailer/checklist_assignment', locals: { assignment: assignment } %>
      </li>
    <% end %>
  </ul>
<% end %>

<p>Have a great day!</p>
