<% current_user.adopter_account.adopter_applications.each do | app | %>
  <% unless app.profile_show == false %>
    <div class='card'>
      <p>Name: <%= app.dog.name %></p>
      <p>Status: <%= app.status %></p>
      <%= link_to 'See dog', adoptable_dog_path(app.dog.id) %>
      <%= link_to 'Withdraw', update_adopter_application_path(id: app.id, status: 'withdrawn'),  
                    data: { turbo_method: "patch",
                            turbo_confirm: "Click OK to withdraw this adoption application." } %>
      <% if app.status == 'withdrawn' || app.status == 'adoption_made' %>
        <%= link_to 'Remove', update_adopter_application_path(id: app.id, profile_show: false),  
                      data: { turbo_method: "patch",
                              turbo_confirm: "Click OK to remove this application." } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%# add link to Withdraw that sets the status to 'withdraw' %>