<%= form_with model: profile, :url => profile_path do |form| %>
  <%= form.hidden_field :adopter_account_id, value: current_user.adopter_account.id %> 
  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
    <%= form.label :country %><br>
    <%= form.text_field :country %>
    <%= form.label :experience %><br>
    <%= form.text_area :experience %>
    
  </div><br />

  <div>
    <%= form.submit %>
  </div>
<% end %>