<h2><%= current_user.first_name %>'s Profile</h2>

<%= link_to 'Edit Profile', edit_profile_path, class: 'btn btn-outline-dark mb-3' %>

<p>Country: <%= @adopter_profile.country %></p>
<p>City: <%= @adopter_profile.city %></p>
<p>Experience: <%= @adopter_profile.experience %></p>
