<%= render DashboardPageComponent.new(crumb: :adopters) do |c| %>
  <% c.with_header_title { t(:adopters) } %>
  <% c.with_action do %>
    <div class='d-flex align-items-center gap-2'>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <!-- Page Header -->
          <div class="border-bottom d-flex justify-content-between align-items-center">
            <div class="nav btn-group" role="tablist">
              <button class="btn btn-outline-secondary" data-bs-toggle="tab" data-bs-target="#tabPaneGrid" role="tab" aria-controls="tabPaneGrid" aria-selected="false" tabindex="-1">
                <span class="fe fe-grid"></span>
              </button>
              <button class="btn btn-outline-secondary active" data-bs-toggle="tab" data-bs-target="#tabPaneList" role="tab" aria-controls="tabPaneList" aria-selected="true">
                <span class="fe fe-list"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% c.with_body do %>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Tab -->
        <div class="tab-content">
          <!-- Tab Pane -->
          <div class="tab-pane fade" id="tabPaneGrid" role="tabpanel" aria-labelledby="tabPaneGrid">
            <div class='d-flex gap-3'>
              <% @adopter_accounts.each do |adopter| %>
                <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                  <!-- Card -->
                  <div class="card mb-4">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="text-center">
                        <div class="position-relative">
                          <%= image_tag "danielle_3.jpg", alt: "", class: "rounded-circle avatar-xl mb-3" %>
                          <a href="#" class="position-absolute mt-10 ms-n5">
                            <span class="status bg-success"></span>
                          </a>
                        </div>
                        <h4 class="mb-0"><%= "#{adopter.user.full_name}" %></h4>
                      </div>
                      <div class="d-flex justify-content-between border-bottom py-2">
                        <span><%= t(:joined) %></span>
                        <span><%= adopter.created_at.strftime("%d %B, %Y") %></span>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <!-- Tab Pane -->
        <div class="tab-pane fade active show" id="tabPaneList" role="tabpanel" aria-labelledby="tabPaneList">
          <!-- Card -->
          <div class="card">
            <!-- Table -->
            <div class="table-responsive">
              <table class="table mb-0 text-nowrap table-hover table-centered">
                <thead>
                  <tr>
                    <th scope="col"><%= t(:name) %></th>
                    <th scope="col"><%= t(:joined_at) %></th>
                    <th scope="col"><%= t(:action) %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @adopter_accounts.each do |adopter| %>
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="position-relative">
                            <%= image_tag "danielle_3.jpg", alt: "", class: "rounded-circle avatar-md me-2" %>
                            <a href="#" class="position-absolute mt-5 ms-n4">
                              <span class="status bg-success"></span>
                            </a>
                          </div>
                          <h5 class="mb-0"><%= "#{adopter.user.full_name}" %></h5>
                        </div>
                      </td>
                      <td>
                        <%= adopter.created_at.strftime("%d %B, %Y") %>
                      </td>
                      <td>
                        <div class="hstack gap-4">
                          <a href="#" class="fe fe-mail text-muted" data-bs-toggle="tooltip" data-placement="top" aria-label="Message" data-bs-original-title="Message"></a>
                          <a href="#" class="text-muted" data-bs-toggle="tooltip" data-placement="top" aria-label="Delete" data-bs-original-title="Delete"><i class="fe fe-trash"></i></a>
                          <span class="dropdown dropstart">
                            <a class="btn-icon btn btn-ghost btn-sm rounded-circle" href="#" role="button" data-bs-toggle="dropdown" data-bs-offset="-20,20" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <span class="dropdown-menu">
                              <span class="dropdown-header"><%=t(:settings) %></span>
                              <a class="dropdown-item" href="#"><i class="fe fe-edit dropdown-item-icon"></i> Edit</a>
                            </span>
                          </span>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
