<%= bootstrap_form_with model: profile, :url => staff_organization_profile_path do |form| %>
  <% if profile.errors.count > 0 %>
    <div class="alert alert-danger mt-1" role="alert">
      <%= t '.please_fix_the_errors' %>
    </div>
  <% end %>

  <div class='card-body'>
    <div class="d-lg-flex align-items-center justify-content-between">
      <h3 class="mb-1">Organization Details</h3>
        <p class="text-muted mb-3" style="font-size: 12px;">Edit your organization's information.<p>
    </div>

    <!-- Administrative details section -->
    <div class="row mt-3">
      <!-- First Column -->
      <div class="col-lg-6">
        <%= form.fields_for :organization do |org_form| %>
          <form class="mb-3">
            <!-- Phone Number -->
            <div class="form-group">
              <%= form.telephone_field :phone_number,
                                      autofocus: true,
                                      placeholder: "10 digit number",
                                      class: 'form-control' %>
            </div>

            <!-- Email -->
            <div class="form-group">
              <%= form.text_field :email, placeholder: "john@email.com", class: 'form-control' %>
            </div>
          </form>
        <% end %>
      </div>

      <!-- Second Column -->
      <div class="col-lg-6">

        <!-- Nested Form for Locations Table -->
        <div class="form-group bigger" data-controller="country-state">
          <%= form.fields_for :location do |location| %>
            <!-- Country Select -->
            <%= location.select :country,
                                CS.countries.invert,
                                { prompt: "Please select" },
                                'data-path': country_states_path(:country),
                                'data-country-state-target': 'country',
                                'data-action': 'change->country-state#updateStates',
                                'data-initial-value': location.object.country,
                                required: true,
                                class: 'form-control' %>

            <!-- Province/State Select -->
            <%= location.select :province_state,
                                CS.states(location.object.country).invert,
                                { prompt: "Please select" },
                                'data-country-state-target': 'state',
                                required: true,
                                class: 'form-control' %>

            <!-- City/Town Text Field -->
            <%= location.text_field :city_town, class: 'form-control' %>
          <% end %>
        </div>
      </div>

      <!-- Third Column -->
      <div class="col-lg-6">
        <%= form.text_field :facebook_url, label: "Facebook", placeholder: "https://example.com", class: 'form-control' %>
        <%= form.text_field :instagram_url, label: "Instagram", placeholder: "https://example.com", class: 'form-control' %>
      </div>
      <div class="col-lg-6">
        <%= form.text_field :donation_url, label: "Donate", placeholder: "https://example.com", class: 'form-control' %>
        <% if profile.avatar.id %>
          <div class='form-group mt-3'>
            <label class="form-label">
              Current picture
            </label>
            <div class='d-flex flex-column align-items-center'>
              <%= image_tag profile.avatar, class: 'rounded-1', style: 'max-height:7.5rem;max-width:100%' %>
              <%= link_to t('general.delete'),
                          purge_avatar_path(profile.avatar.id),
                          data: { turbo_method: "delete" },
                          class: 'delete-button' %>
            </div>
          </div>
        <% else %>
          <div class='form-group mt-3'>
            <%= form.file_field :avatar, 
                                class: "custom-attachments",
                                label: 'Attach picture' %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="row mt-3">
      <div class="col-lg-12">
        <%= form.submit 'Save profile', class: 'btn btn-primary' %>
        <%= link_to t('general.cancel'), :back, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  </div> <!-- End of Card Body -->
<% end %>

