<%= turbo_frame_tag task do %>
  <li class="list-group-item <%= class_names({ 'bg-danger-subtle': task.overdue?, 'bg-success-subtle': task.completed }) %>">
    <div class="d-flex justify-content-between
              align-items-center">
      <div class="d-flex align-items-center">
        <%= render '/organizations/staff/tasks/tasks_toggle', task: task %>
        <div style="padding: 0 10px; margin-top: 15px;">
          <strong class="d-block" ><%= task.name %></strong>
          <p class='mb-0'> <%= task.description %> </p>
          <div class='d-flex'>
            <% if task.due_date %>
              <% if task.due_date.to_date == Date.today %>
                <div class='text-warning'>
                  <i class="fe fe-clock"></i> Due Date - Today
                </div>
              <% elsif task.due_date.to_date > Date.today %>
                <div class='text-warning'>
                  <i class="fe fe-clock"></i> Due Date - <%= task.due_date.strftime("%d %b") %>
                </div>
              <% elsif task.due_date.to_date < Date.today %>
                <div class='text-danger'>
                  <i class="fe fe-clock"></i> Due Date - <%= task.due_date.strftime("%d %b") %>
                </div>
              <% end %>
              <% if task.recurring %>
                <div class='text-black d-flex align-items-center'>
                  <i class="fe fe-refresh-cw nav-icon mx-2"></i>
                  <%= t('.recurring') %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Right side: Completion status and action buttons -->
      <div class="text-right">
        <div class="d-flex align-items-center justify-content-end">
          <%= link_to 'Edit', edit_staff_pet_task_path(task.pet, task), class: 'btn btn-warning m-2' %>
          <%= link_to 'Delete', staff_pet_task_path(task.pet, task), class: 'btn btn-danger m-2', data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </li>
<% end %>