
<div class="card">
  <!-- Table -->
  <div class="table-responsive">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col"><%= t(:name) %></th>
          <th scope="col"><%= t(:action) %></th>
        </tr>
      </thead>
      <tbody>
        <% fosterer_accounts.each do |fosterer| %>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <%= render AvatarComponent.new(fosterer.user) %>
                  <a href="#" class="position-absolute mt-5 ms-n4">
                    <span class="status bg-success"></span>
                  </a>
                </div>
                <h5 class="mb-0 ms-3"><%= "#{fosterer.user.full_name}" %></h5>
              </div>
            </td>
            <td>
              <%= link_to 'Edit', edit_staff_fosterer_url(fosterer) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
