<% can_edit_person = allowed_to?(:edit?, Person, context: { organization: Current.organization }, with: Organizations::FostererInvitationPolicy) %>

<div class="card">
  <!-- Table -->
  <div class="table-responsive">
    <table class="table mb-0 text-nowrap table-hover table-centered">
      <thead>
        <tr>
          <th scope="col"><%= t(:name) %></th>
          <th scope="col"><%= t(:email) %></th>
          <th scope="col"><%= t(:phone) %></th>
          <% if can_edit_person %>
            <th scope="col"><%= t(:action) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% fosterer_accounts.each do |fosterer| %>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <div class="position-relative">
                  <%= render AvatarComponent.new(fosterer.user) %>
                  <a href="#" class="position-absolute mt-5 ms-n4">
                    <span class="status bg-success"></span>
                  </a>
                </div>
                <h5 class="mb-0 ms-3"><%= "#{fosterer.full_name}" %></h5>
              </div>
            </td>
            <td>
              <%= fosterer.email %>
            </td>
            <td>
              <%= fosterer.phone %>
            </td>
            <td>
              <% if can_edit_person %>
                <%= link_to 'Edit', edit_staff_fosterer_url(fosterer), class: 'btn btn-warning m-2' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

