<%= bootstrap_form_with url: feedback_index_path, scope: :contact, method: :post do | f | %>
  <% if contact.errors.count > 0 %>
    <div class="alert alert-danger mt-1" role="alert">
      <p>
        <%= I18n.t('general.please_fix') %> <%= @contact.errors.count %> <%= 'error'.pluralize(contact.errors.count) %> highlighted below.
      </p>
    </div>
  <% end %>
  <div class="row mb-2">
    <div class="mb-3 form-group">
      <%= f.text_field :name, autofocus: true, 
                              class: 'form-control', 
                              required: true %>
      <% @contact.errors.full_messages_for(:name).each do |message| %>
        <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
      <% end %>
    </div>
    <div class="mb-3 form-group">
      <%= f.email_field :email, class: 'form-control', 
                                  required: true %>
      <% @contact.errors.full_messages_for(:email).each do |message| %>
        <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
      <% end %>
    </div>
    <div class="mb-3 form-group" data-controller='counter'>
      <%= f.text_area :message, class: 'form-control', 
                                data: { action: "input->counter#countLarge", 
                                        counter_target: 'input' },
                                placeholder: t('feedback.new.message_placeholder'),
                                required: true %>
      <div data-counter-target='output' class='small'></div>
      <% @contact.errors.full_messages_for(:message).each do |message| %>
        <div class="alert alert-danger mt-1" role="alert"><%= message %></div>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit I18n.t('general.submit'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>