<header class="pt-5 pb-5"> 
  <div class="container">
    <div class="text-center">
      <h1 class="section-heading text-uppercase underline">
        <%= @dog.name %>
      </h1>
    </div>
  </div> <!--container-->
</header>

<!--dog tile-->
<section class="pb-5" id="adoptable_dogs_show">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-8">
        <!--dog images--> 
        <% if @dog.images.attached? %>
          <div id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <% @dog.images.each_with_index do |image, index| %>
                <button type="button" data-bs-target="#carouselExampleIndicators" 
                        data-bs-slide-to="<%= index %>" class="active" aria-current="true" 
                        aria-label="Slide <%= index %>"></button>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% @dog.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= image_tag image, class: 'd-block w-100 rounded' %>
                  </div>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" 
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" 
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>

        <div class='row mb-3'>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Age:</h5>
            <h5><%= @dog.age %></h5>
          </div>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Sex:</h5>
            <h5><%= @dog.sex %></h5>
          </div>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Breed:</h5>
            <h5><%= @dog.breed %></h5>
          </div>
          <div class='col-md-3 mb-1'>
            <h5 style='font-weight: bold;'>Size:</h5>
            <h5> <%= @dog.size %></h5>
          </div>
        </div>

        <h4 style='font-weight: bold;' class="mb-2">
          About <%= @dog.name %>
        </h4>
        <p>
          <%= @dog.description %>
        </p>
      </div>

      <div class=' col-lg-4 ps-3 pe-3 ps-lg-0 pe-lg-0'>
        <div class=' border p-5 rounded
                    d-flex flex-column justify-content-between'>
          <div>
            <h4>
              Adoption Process
            </h4>
            <p class='mb-3'>
              Please read the <%= link_to 'FAQ', faq_path %> before 
              applying to adopt.
            </p>
            <p>Please know that:</p>
            <ul> 
              <li>Adopters must be located in Canada or USA</li>
              <li>There is an adoption fee of $xxx</li>
              <li>Every dog will be fully vaccinated and have the necessary 
                  paperwork to enter Canada/USA</li>
              <li>We can usually arrange transport to adopters west of Alberta or
                  Nevada only. Adopters further east will need to arrange 
                  transport</li>
            </ul>

            <p class='mt-3'>After you apply to adopt:</p>
            <ul> 
              <li>Your application history will be shown on your profile page</li>
              <li>Application reviews generally take X days, depending on volume</li>
              <li>We will contact you  for further discussion if you are 
                  shortlisted</li>
              <li>We work hard to match dogs and adopters, so please
                  try again if you are not successful first time round</li>
            </ul>
          </div>

          <div class='text-center mt-1'>
            <% unless user_signed_in? && current_user.staff_account %>
              <% if user_signed_in? %>
                <% if current_user.adopter_account && 
                      current_user.adopter_account.adopter_profile %>
                  <% if AdopterApplication.adoption_exists?(
                                            current_user.adopter_account.id,
                                            @dog.id
                                                            ) %>
                    <div class='d-flex align-items-center mt-3'>
                      <h4 class="me-2">Application submitted</h4>
                      <%= image_tag('green_check.png', height: '21') %>
                    </div>
                  <% else %>   
                    <h4 class="mb-4 mt-3">In love with this pooch?</h4>
                    <%= button_to 'Apply to Adopt', 
                        create_my_application_path(application: { 
                                                        dog_id: @dog.id, 
                                                        adopter_account_id: current_user.adopter_account.id}),
                          
                          class: 'custom-btn-pink' %>
                  <% end %>
                <% elsif current_user.adopter_account %>
                  <h4 class='mb-4 mt-3'>
                    You need to complete your profile before you can apply.
                  </h4>
                  <%= link_to 'Complete my profile', new_profile_path,
                      class: 'custom-btn-pink' %>
                <% end %>
              <% else %>
                  <h4 class="mb-4 mt-3">Sign up to be able to apply for this dog</h4>
                  <%= link_to 'Sign Up', account_select_path , 
                      class: 'custom-btn-pink mb-2' %>
                  <p>
                    <%= link_to 'Log in', new_user_session_path %>
                  </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>
