    <% if @dog.images.attached? %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <% @dog.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= image_tag image, width: '25%' %>
            </div>
            <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <% end %>

<p>Name: <%= @dog.name %></p>
<p>Age: <%= @dog.age %></p>
<p>Organization: <%= @dog.organization.name %><br>

<%= button_to 'Apply to Adopt', 
    create_adopter_application_path(adopter_account_id: current_user.adopter_account.id, 
                                     dog_id: @dog.id) %><br>
<%= link_to 'Back', adoptable_dogs_path %>