<!--page heading-->
<header class="pt-5 pb-5" >
  <div class="container">
      <div class="text-center">
        <h1 class="section-heading text-uppercase underline">
          Adoption Applications
        </h1>
      </div>
  </div> <!--container-->
</header>

<section class="pb-5" id="adopter_profile">
  <div class="container">
    <% if @applications.empty? %>
      <p class='text-center'>Your adoption applications will be listed here.</p>
    <% else %>
      <% @applications.each do | app | %>
        <% unless app.profile_show == false %>
          <div class="row border rounded mb-3 mx-3 p-3">
            <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center 
                        align-items-center">
              <% if app.dog.images.attached? %>
                <%= link_to adoptable_dog_path(app.dog.id) do %>
                  <%= image_tag app.dog.images.first, class: 'app-img rounded' %>
                <% end %>
              <% else %>
                <%= link_to adoptable_dog_path(app.dog.id) do %>
                  <%= image_tag('coming_soon.jpg', class: 'app-img rounded') %>
                <% end %>
              <% end %>
            </div>

            <div  class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center 
                          justify-content-md-start align-items-center">
              <h3><%= app.dog.name %></h3>
            </div>

            <div  class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center
                          justify-content-md-start align-items-center flex-column">
              <p>Status: <%= app.status.titleize %></p>

              <% if app.status == 'awaiting_review' %>
                <p>We will be in contact with you shortly!</p>
              <% elsif app.status == 'under_review' %>
                <p>Keep an eye on your <%=current_user.adopter_account.adopter_profile.contact_method %></p>
              <% elsif app.status == 'adoption_pending' %>
                <p>Looks like this pooch may have found a home with someone else.</p>
              <% elsif app.status == 'adoption_made' %>
                <p>This pooch has found a home with someone else.</p>
              <% elsif app.status == 'withdrawn' %>
                <p>If you withdrew by accident, contact us and do not click 'remove'. 
                   Otherwise click remove to clear it from your list.</p>
              <% end %>
            </div>

            <% unless app.status == 'withdrawn' || app.status == 'adoption_made' %>

              <!--withdraw button-->
              <div class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center 
                          justify-content-md-start align-items-center">
                <%= button_to 'Withdraw', 
                            my_application_path(application: { id: app.id, 
                                                                    status: 'withdrawn' }),  
                            data: { turbo: "false" },
                            method: 'patch',
                            class: 'btn btn-outline-dark mt-3 mt-md-0 mb-3 mb-md-0' %>
              </div>
            <% end %>

              <% if app.status == 'withdrawn' || app.status == 'adoption_made' %>
                <!--remove button-->
                <div class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center 
                            justify-content-md-start align-items-center">
                  <%= button_to 'Remove', 
                              my_application_path(application: { id: app.id, 
                                                                      profile_show: false }),  
                              data: { turbo: 'false' },
                              method: 'patch',
                              class: 'btn btn-outline-dark mt-3 mt-md-0 mb-3 mb-md-0' %>
                </div>
              <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>