<!--page heading-->
<header class="pt-5 pb-5" >
  <div class="container">
      <div class="text-center">
        <h1 class="section-heading text-uppercase underline">
          <%= t '.adoption_applications' %>
        </h1>
      </div>
  </div> <!--container-->
</header>

<section class="pb-5" id="adopter_foster_profile">
  <div class="container">
    <% if @applications.empty? %>
      <p class='text-center'><%= t '.your_adoption_applications' %></p>
    <% else %>
      <% @applications.each do | app | %>
        <% unless app.profile_show == false %>
          <div class="row border rounded mb-3 mx-3 p-3">
            <div class="col-md-3 mb-4 mb-md-0 d-flex justify-content-center 
                        align-items-center">
              <% if app.pet.images.attached? %>
                <%= link_to adoptable_pet_path(app.pet.id) do %>
                  <%= image_tag app.pet.images.first, class: 'app-img rounded card-img-top' %>
                <% end %>
              <% else %>
                <%= link_to adoptable_pet_path(app.pet.id) do %>
                  <%= image_tag('coming_soon.jpg', class: 'app-img rounded') %>
                <% end %>
              <% end %>
            </div>

            <div  class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center 
                         align-items-center">
              <h3><%= app.pet.name %></h3>
            </div>

            <div  class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center
                         text-center flex-column">
              <p class="fw-bold"><%= "#{t('general.status')}: #{app.status.titleize}" %></p>

              <% if app.status == 'awaiting_review' %>
                <p><%= t '.we_will_be_in_contact' %></p>
              <% elsif app.status == 'under_review' %>
                <p>
                  <%= "#{t '.keep_an_eye_on'} #{current_user.adopter_foster_account.adopter_foster_profile.contact_method}" %>
                </p>
              <% elsif app.status == 'adoption_pending' %>
                <p><%= t '.almost_adopted' %></p>
              <% elsif app.status == 'adoption_made' %>
                <p><%= t '.found_a_home' %></p>
              <% elsif app.status == 'withdrawn' %>
                <p><%= t '.withdrew_by_accident_html' %></p>
              <% end %>
            </div>

            <% unless app.status == 'withdrawn' || app.status == 'adoption_made' %>

              <!--withdraw button-->
              <div class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center 
                          align-items-center">
                <%= form_with model: app do |form| %>
                  <%= form.hidden_field :status, value: "withdrawn" %>
                  <%= form.submit t(".withdraw"),
                    data: { turbo: false },
                    class: "btn btn-outline-dark mt-3 mt-md-0 mb-3 mb-md-0"
                  %>
                <% end %>
              </div>
            <% end %>

              <% if app.status == 'withdrawn' || app.status == 'adoption_made' %>
                <!--remove button-->
                <div class="col-md-3 mb-2 mb-md-0 d-flex justify-content-center 
                            align-items-center">
                  <%= form_with model: app do |form| %>
                    <%= form.hidden_field :profile_show, value: false %>
                    <%= form.submit t('.remove'),
                      data: { turbo: false },
                      class: "btn btn-outline-dark mt-3 mt-md-0 mb-3 mb-md-0"
                    %>
                  <% end %>
                </div>
              <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</section>
