<nav class="navbar navbar-expand-lg navbar-dark"
      style='background-color: #00401F;' aria-label="Fourth navbar example">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to image_tag(@organization_settings[:logo], class: 'logo me-2', alt: 'site logo'),
                  root_path %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav me-auto mb-md-0">
        
        <li class="nav-item navbar-dark">
          <%= link_to 'Browse Pets', adoptable_pets_path, 
              class: 'nav-link text-white me-3 bigger' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white me-3 bigger" href="#" 
              id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">
              Info
          </a>
          <ul class="dropdown-menu p-3" aria-labelledby="dropdown04">
            <li><%= link_to 'About Us', about_us_path,
                            class: 'text-decoration-none bigger',
                            style: 'color: #504451' %></li>
            <li><%= link_to 'FAQ', faq_path,
                            class: 'text-decoration-none bigger',
                            style: 'color: #504451' %></li>
            <li><%= link_to 'Partners', partners_path,
                            class: 'text-decoration-none bigger',
                            style: 'color: #504451' %></li>
            <li><%= link_to 'Successes', successes_path,
                            class: 'text-decoration-none bigger',
                            style: 'color: #504451' %></li>
          </ul>
        </li>
        <li>
          <%= link_to 'Contact', new_contact_path,
                            class: 'nav-link text-white bigger me-3' %>
        </li>
        <li class="nav-item navbar-dark">
          <%= link_to 'Donate', donate_path, 
              class: 'nav-link text-white bigger' %>
        </li>
      </ul>

      <ul class="navbar-nav mb-md-0">
        <% unless user_signed_in? %>
          <li class="nav-item navbar-dark">
            <%= link_to 'Adopt', new_user_registration_path,
                class: 'btn-outline-light btn me-3 navbar-margin-bottom bigger' %>
          </li>
          <li class="nav-item navbar-dark">
            <%= link_to 'Log In', new_user_session_path, 
                class: 'btn-outline-light btn bigger' %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item dropdown me-3 navbar-margin-bottom">
            <a class="nav-link dropdown-toggle text-white bigger" href="#" 
              id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboard
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown05">
              <% if current_user.adopter_account && 
                    current_user.adopter_account.adopter_profile.nil? %>
                <li>
                  <%= link_to "My Profile", new_profile_path, 
                      class: 'dropdown-item bigger' %>
                </li>
              <% elsif current_user.adopter_account %>
                <li>
                  <%= link_to "My Profile", profile_path, 
                      class: 'dropdown-item bigger' %>
                </li>
                <li>
                  <%= link_to "My Applications", my_applications_path, 
                      class: 'dropdown-item bigger' %>
                </li>
              <% end %>
              <% if current_user.staff_account &&
                    current_user.staff_account.verified %>
                <li>
                  <%= link_to "Our Pets", pets_path, 
                      class: 'dropdown-item bigger' %>
                </li>
                <li>
                  <%= link_to "Applications", adopter_applications_path, 
                      class: 'dropdown-item bigger' %>
                </li>
              <% end %>
              <li>
                  <%= link_to "Account Settings", edit_user_registration_path, 
                      class: 'dropdown-item bigger' %>
                </li>
            </ul>
          </li>
          <li class="nav-item navbar-dark">
            <%= button_to 'Log Out', destroy_user_session_path, 
                class: 'btn-outline-light btn bigger', 
                data: { turbo: false },
                method: 'delete' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>