<!DOCTYPE html>
<html>
  <head>
    <title>BajaPetRescue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
    <nav class="navbar navbar-expand-md navbar-dark" 
         style='background-color: #00401F;' aria-label="Fourth navbar example">
      <div class="container-fluid">
        <div class="navbar-brand">
          <%= link_to image_tag('logo.png', class: 'logo', alt: 'site logo'),
                      root_path %>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav me-auto mb-md-0">
            
            <li class="nav-item navbar-dark">
              <%= link_to 'Dogs', adoptable_dogs_path, 
                  class: 'nav-link text-white' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" 
                 id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">
                 About
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdown04">
                <li><a class="dropdown-item" href="#">About Us</a></li>
                <li><a class="dropdown-item" href="#">Adoption Process</a></li>
                <li><a class="dropdown-item" href="#">Partners</a></li>
                <li><a class="dropdown-item" href="#">Donate</a></li>
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
              </ul>
            </li> 
          </ul>

          <ul class="navbar-nav mb-md-0">
            <% unless user_signed_in? %>
              <li class="nav-item navbar-dark">
                <%= link_to 'Sign Up', account_select_path, 
                    class: 'btn-outline-light btn me-3 navbar-margin-bottom' %>
              </li>
              <li class="nav-item navbar-dark">
                <%= link_to 'Log In', new_user_session_path, 
                    class: 'btn-outline-light btn' %>
              </li>
            <% end %>

            <% if user_signed_in? %>
              <li class="nav-item dropdown me-3 navbar-margin-bottom">
                <a class="nav-link dropdown-toggle text-white" href="#" 
                  id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">
                  Staff Links
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown04">
                  <% if current_user.adopter_account && 
                        current_user.adopter_account.adopter_profile.nil? %>
                    <li>
                      <%= link_to "My Profile", new_profile_path, 
                          class: 'dropdown-item' %>
                    </li>
                  <% elsif current_user.adopter_account %>
                    <li>
                      <%= link_to "My Profile", profile_path, 
                          class: 'dropdown-item' %>
                    </li>
                  <% end %>
                  <% if current_user.staff_account.verified %>
                    <li>
                      <%= link_to "Our Dogs", dogs_path, 
                          class: 'dropdown-item' %>
                    </li>
                    <li>
                      <%= link_to "Applications", adopter_applications_path, 
                          class: 'dropdown-item' %>
                    </li>
                  <% end %>
                  <li>
                      <%= link_to "Account Settings", edit_user_registration_path, 
                          class: 'dropdown-item' %>
                    </li>
                </ul>
              </li>
              <li class="nav-item navbar-dark">
                <%= link_to 'Log Out', destroy_user_session_path, 
                    class: 'btn-outline-light btn', data: {turbo_method: 'delete'} %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end%>

  <div class='container'>
    <%= yield %>
  </div>
  </body>
</html>
