<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : Current.organization.name %></title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

    <main>
      <div>
        <% if flash[:notice] %>
          <div class="flash-notice bigger">
            <%= notice %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="flash-alert bigger">
            <%= alert %>
          </div>
        <% end%>

        <div>
          <%= yield %>
        </div>
      </div>
    </main>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
