<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body>
    <% if Current.tenant.present? %>
      <%= render partial: "layouts/shared/navbar" %>
    <% else %>
      <%= render partial: "layouts/shared/no_tenant_navbar" %>
    <% end %>

    <main>
      <div>
        <% if flash[:notice] %>
          <div class="flash-notice bigger">
            <%= notice %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="flash-alert bigger">
            <%= alert %>
          </div>
        <% end%>

        <div>
          <%= yield %>
        </div>
      </div>
    </main>

    <% if Current.tenant.present? %>
      <%= render partial: "layouts/shared/footer" unless @hide_footer %>
    <% else %>
      <%= render partial: "layouts/shared/no_tenant_footer" %>
    <% end %>
  </body>
</html>
