<!DOCTYPE html>
<html>
  <%= render "layouts/shared/head" %>

  <body>
    <%= render "layouts/shared/flash_messages" %>
    <% if Current.tenant.present? %>
      <%= render partial: "layouts/shared/navbar" %>
    <% else %>
      <%= render partial: "layouts/shared/no_tenant_navbar" %>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <% if Current.tenant.present? %>
      <%= render partial: "layouts/shared/footer" unless @hide_footer %>
    <% else %>
      <%= render partial: "layouts/shared/no_tenant_footer" %>
    <% end %>
  </body>
</html>
