<!DOCTYPE html>
<html>
<%= render "layouts/shared/head" %>

  <body>
    <%= render "layouts/shared/flash_messages" %>
    <div id="db-wrapper">
      <%= render "layouts/dashboard/sidebar" %>

      <!-- Page Content -->
      <main id="page-content">
        <div class="header">
          <!-- navbar -->
          <nav class="navbar-default navbar navbar-expand-lg">
            <a id="nav-toggle" href="#">
              <i class="fe fe-menu"></i>
            </a>

            <!-- Navbar nav -->
            <div class="ms-auto d-flex">
              <ul class="navbar-nav navbar-right-wrap ms-2 d-flex nav-top-wrap">
                <!-- List -->
                <li class="dropdown ms-2">
                  <a class="rounded-circle" href="#" role="button" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= render "components/avatar" do |partial| %>
                      <% partial.avatar_attached current_user.avatar.attached? %>
                      <% partial.avatar_url url_for(current_user.avatar) if current_user.avatar.attached? %>
                      <% partial.alt "#{current_user.first_name.first.upcase} Avatar" %>
                      <% partial.initials "#{current_user.first_name.first}#{current_user.last_name.first}".upcase %>
                    <% end %>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownUser">
                    <div class="dropdown-item">
                      <div class="d-flex">
                        <%= render "components/avatar" do |partial| %>
                          <% partial.avatar_attached current_user.avatar.attached? %>
                          <% partial.avatar_url url_for(current_user.avatar) if current_user.avatar.attached? %>
                          <% partial.alt "#{current_user.first_name.first.upcase} Avatar" %>
                          <% partial.initials "#{current_user.first_name.first}#{current_user.last_name.first}".upcase %>
                        <% end %>
                        <div class="ms-3 lh-1">
                          <h5 class="mb-1"><%= "#{current_user.first_name} #{current_user.last_name}" %></h5>
                          <p class="mb-0 text-muted"><%= current_user.email %></p>
                        </div>
                      </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                      <li>
                        <%= link_to dashboard_index_path, class: "dropdown-item" do %>
                          <i class="fe fe-home me-2"></i> Dashboard
                        <% end %>
                      </li>
                      <li>
                        <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                          <i class="fe fe-settings me-2"></i> Account Settings
                        <% end %>
                      </li>
                      <li>
                        <%= button_to destroy_user_session_path, method: :delete, class: 'dropdown-item', form: {data: {turbo: false}} do %>
                          <i class= 'fe fe-power me-2'></i> Sign Out
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
