<%= bootstrap_form_with model: page_text, :url => staff_page_text_path(@page_text), method: :patch do |form| %>
  <div class='card-body'>
    <div class="d-lg-flex align-items-center justify-content-between">
      <h3 class="mb-1">Landing page details</h3>
      <p class="text-muted mb-3" style="font-size: 12px;">Edit your landing page.
      </p>
    </div>
    <div class="row mt-3">
      <div class="col-lg-6">
        <%= form.fields_for :page_text do |page_text_form| %>
          <div class="form-group">
            <%= form.text_field :hero,
                                label: "Hero",
                                autofocus: true,
                                placeholder: "hero text",
                                class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.file_field :hero_image,
                                label: "Hero Image",
                                class: 'form-control'%>
          </div>
          <small class="form-text text-muted"> Images must be .png or .jpeg under 2MB </small>
          <div class="form-group mt-4">
            <%= form.text_area :about, label: "About Us", placeholder: "About Us text", class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.file_field :about_us_images,
                                multiple: true,
                                accept: 'image/png, image/jpeg',
                                label: "About Us Images",
                                class: 'form-control' %>
            <% @page_text.about_us_images.each do |image| %>
              <%= form.hidden_field :about_us_images, multiple: true, value: image.signed_id %>
            <% end %>
            <small class="form-text text-muted">You can upload up to 2 images. <br> Images must be .png or .jpeg under 2MB </small>
            <h3 class="mt-4">Adoptable Pet Information</h3>
            <div class="form-group">
              <%= form.text_area :adoptable_pet_info, label: "Information for adopters", placeholder: "Anything you would like adopters to know?", class: 'form-control' %>
            </div>
        <% end %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-12">
          <%= form.submit 'Save page text/images', class: 'btn btn-primary' %>
          <%= link_to t('general.cancel'), :back, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="mt-5">
        <div class="mt-5">
          <%= render ImageAttachmentTableComponent.new(images: @page_text.images) %>
        </div>
<% end %>
