<div id="<%= dom_id faq %>"class="card-body d-flex justify-content-between border-bottom">
  <div class="d-flex align-items-center">
    <div>
      <strong class="d-block fs-4" ><%= faq.question %></strong>
      <p class="fs-4"> <%= faq.answer %> </p>
    </div>
  </div>
  <!-- Right side: Completion status and action buttons -->
  <div class="text-right">
    <div class="d-flex align-items-center justify-content-end">
      <%= link_to 'Edit', edit_faq_path(faq), class: 'btn btn-warning m-2', data: {turbo_stream: true} %>
      <%= link_to 'Delete', faq_path(faq), class: 'btn btn-danger m-2', data: { turbo_method: "delete", turbo_confirm: t('.are_you_sure_delete') } %>
    </div>
  </div>
</div>
