<% breadcrumb :faqs_index %>
<%= render "components/dashboard/page" do |p| %>
  <% p.header_title t(".faqs") %>
  <% p.actions do %>
    <%= link_to t('.create_faq'), new_faq_path, class: "btn btn-primary" %><br>
  <% end %>
  <% p.content do %>
    <!-- row -->
    <div class="justify-content-md-between mb-4 mb-xl-0 gx-3">
      <!-- card -->
      <div class="card">
        <!-- table -->
        <div class="table-responsive overflow-y-hidden">
          <table class="table mb-0 text-nowrap table-hover table-centered">
            <thead>
              <tr>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @faqs.each do |faq| %>
                <tr>
                  <td class="text-wrap">
                    <%= faq.question %>
                  </td>
                  <td class="text-wrap">
                    <%= faq.answer %>
                  </td>
                  <td>
                    <div class="text-right">
                      <div class="d-flex align-items-center justify-content-end">
                        <%= link_to 'Edit', edit_faq_path(faq), class: 'btn btn-warning m-2' %>
                        <%= link_to 'Delete', faq_path(faq), class: 'btn btn-danger m-2', data: { turbo_method: "delete", turbo_confirm: t('.are_you_sure_delete') } %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
